[2020-11-22 20:26] NazarBroslavskyiEpam commented on #280
Yes. I agree with you. It works as you describe. It is my fault.  Your scrollbar the best I have found ever. I would like to ask you How can I disable touch support to the viewport also in the angular project. Thank you.

[2020-11-22 22:06] KingSora commented on #280
Well, the plugin doesn't offer such a functionality.

However you can use disable with this code snippet:
[code]
In this way all touchevents are consumed and prevented. Thats one possible solution I guess, although it is (in my opinion) really ugly.

[2020-11-22 22:11] NazarBroslavskyiEpam commented on #280
Thank you very much. I have been struggling with this too long today. I  appreciate it very much. I am closing the issue.

[2020-11-22 22:16] #280 closed

[2020-11-23 17:12] swagata1603 commented on #279
@KingSora, thank you, two more question I want to ask.

1. If I remove the onDestroy method from the example that you have shared. is it going to leak memory?
2. How to prevent body scroll when overlay scrollbar reaches end.  Because overlay scrollbar's starts scroll body when it reaches end.

[2020-11-23 18:26] KingSora commented on #279
@swagata1603
If you don't destroy the instances, its a memory leak, yes. But you have now all the freedom you need to destroy them with a custom function maybe, or something like that. You just need to do it at some point.

If I remember correctly there was a extension for that: https://github.com/parsisolution/os-scroll-chain give it a shot :)

[2020-11-23 19:02] swagata1603 commented on #279
@KingSora

thank you, One last question I forgot ask, after that you can close the issue, what will be the HTML markup to add overlay scrollbar in a text area?

[2020-11-23 20:00] axelstudios opened #281 "Angular 11 Strict: can't access OverlayScrollbars Inputs"
**Describe the bug**
If you create a new Angular 11 app with strict type checking (`ng new <name> --strict`) it sets `angularCompilerOptions.strictInputAccessModifiers` to `true` in tsconfig.json.  `strictInputAccessModifiers` honors @Input() access modifiers, and because they are currently set to `private` they are inaccessible:

https://github.com/KingSora/OverlayScrollbars/blob/914836370aa444b0

[2020-11-23 20:09] KingSora commented on #281
Good day!

So If I understand correctly the `private` modifier has to be removed?

[2020-11-23 20:15] axelstudios commented on #281
Exactly, `options` and `extensions` have to be public, so removing _private_ would do it

[2020-11-23 20:26] KingSora commented on #281
@axelstudios alright... but I've set them to `private` on purpose, because if you get the `ref` to the component, you're in theory able to see and set them. Can I prevent this, or is this valid?

[2020-11-23 20:34] KingSora commented on #279
I've commented it here: https://github.com/KingSora/OverlayScrollbars/blob/914836370aa444b04cc9e0c2bca63915ac8fdba0/js/OverlayScrollbars.js#L6352-L6410

But please note that I haven't created a textarea component on purpose yet.

[2020-11-23 20:36] axelstudios commented on #281
I've done something similar, I think you would want to keep the variable private and change the Inputs to setters (and no getters).  Something like this:

[code]

[2020-11-24 02:17] swagata1603 commented on #279
@KingSora, According to your code i have to repeat the last part(textarea) every time? or there is any shorter way?

[2020-11-24 03:13] swagata1603 commented on #279
@KingSora, after creating the custom component my issue got resolved, but i am struggling to add the extension. I don't want to pass it in the extensions input. I want to disable entirely for my project.

So for my custom scrollbar component i have used the extension in his way -

1. Installed the npm package
2. Added os-scroll-chain.min.js in angular.json
3. imported like this in my scrollbar com

[2020-11-25 04:06] swagata1603 commented on #279
@KingSora, can be able to help me with the scroll chain extension, means how i can use it in angular?

[2020-11-25 15:20] fernandodelgadomtech opened #283 "will-change in os-viewport"
I noticed a boost in the scroll performance when I add this property to the os-viewport class, but itt also messes up the scrollbar tracking.

Would it be possible to add this css property to the os-viewport?

[2020-11-25 15:29] KingSora commented on #283
Good day @fernandodelgadomtech!

What do you mean with "it messes up the scrollbar tracking"?
There is a reason why I wouldn't like this prop by default: thats because this prop is pretty dependent on the usecase of how you use the component. If you use it on a big area it probably can make sense, but if its somewhere else it could doe more harm. So I believe its the best to let the user decide wh

[2020-11-25 18:59] KingSora commented on #279
You have to do it like:

[code]

[2020-11-25 19:20] swagata1603 commented on #279
@KingSora ,

Can i use these two imports in my custom overlay scrollbar component -

[code]

because, there is no entry js or main js in angular, at least id don't have any knowledge. Please suggest.

[2020-11-25 19:24] fernandodelgadomtech commented on #283
After some testing I was able to identify the scrollbar tracking was an issue from my end.

I have a question based on your comment... when is the best time to add such property, only for big areas or do you consider something holding a lot elements could be a good case too?

[2020-11-25 20:15] KingSora commented on #279
@swagata1603 you always have a entry file, in angular its the `main.ts` file.

Please don't get me wrong, but this issue has been going on for long enough, if you have further problems, you can always read the [documentation](https://kingsora.github.io/OverlayScrollbars/#!documentation), or google stuff.. Please don't use Github as a support platform.

[2020-11-25 20:17] KingSora commented on #283
I guess I would only use it, if I have some noticable performance issues. I only mentioned `big areas` because its more likely then that users interact with it. On [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/will-change) they are writing:

[2020-11-25 20:26] KingSora commented on #278
@pathurs Thank you very much! I'll add it as soon as I have time.

[2020-11-25 20:27] KingSora commented on #275
@emmanuelulloa I'll close this issue because of inactivity. In case you have any new feedback don't hesitate to reopen it.

[2020-11-25 20:27] #275 closed

[2020-11-25 21:10] #283 closed

[2020-11-26 07:04] #279 closed

[2020-12-02 02:26] bbpoizon opened #284 "disables sticky headers"
Im using the os-theme-dark. I've tried using the os-host-flexbox, but it always breaks whatever flex box its applied to.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.courtneybrown.digital
2. Click on ui/web design
2. Click on first project row (cmmc)
3. Scroll section on right side (project images)
4. See error

**Expected behavior**
Sticky headers should remain at the tops of t

[2020-12-02 16:59] itshallrun opened #285 "autohide: leave requires double tap on touch devices"
Hey,

I am working on a cross plattform web app.
The issue is, on touch devices, the autoHide: "leave"  option requires a double tap to trigger the touch event.
The first tap will show the scrollbar, and the second tap will actually trigger the touch event underneath.

touchSupport  is active in my options.

[code]

Is there any way to have autoHide: "leave" for non-mobile devices and trigger the

[2020-12-02 18:40] KingSora commented on #285
Good day!

With " trigger the touch event on the first tap" you mean the possibility to scroll, or the possibility to interact with the scrollbars?

[2020-12-02 18:46] itshallrun commented on #285
I mean, if there are some elements in a scrollable container, then the first tap will show the scrollbars (which are hidden by default) and the second tap will trigger the onClick / touch event of the touched element.
So the scrollbars are kind of blocking the content from being triggered on the first tap.

[2020-12-02 19:02] KingSora commented on #285
Alright.. The touched elements are they below the actual scrollbars, or does the position of the element doesn't matter?

What OS, device and browser are you using? Does this only happen with the `autohide: leave` option? Can you trigger it also on desktop devices somehow?

[2020-12-02 19:11] itshallrun commented on #285
I am using the react version.
I could test it on an Ipad pro.
It is an issue for `autohide:leave` only.
The position doesn't matter.
Whenever I tap in the Scrollbars container, the first tap always triggers the visibility of the scrollbars.
On the desktop, the behavior is as desired. The scrollbars are hidden until the scrollbars container is hovered. And they disappear when the container is left.

[2020-12-04 09:13] TokkeDev commented on #210
@KingSora, everything seems to be working just fine with both Angular 9, Angular 10 and Angular 11, so shouldn't we just bump the peer dep version af Angular to accept 11? 😊

[2020-12-08 06:17] IgorLesnevskiy opened #286 "[React] The plugin doesn't work inside a modal window with max-height: 100%"
**Describe the bug**
The plugin doesn't work inside a modal window with `max-height: 100%`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/optimistic-fire-qbim7
2. Click on the "Show modal" button (it opens in the Portal)
3. There is a lot of content in the modal, but the plugin doesn't work
4. Go to the console and replace manually the height of the `.os-host`

[2020-12-08 12:19] KingSora commented on #286
Good day!

This is related to the flexbox setup you have inside the modal. `OverlayScrollbars` currently doesn't work well as direct flexbox child/item. Thats why I created the `os-host-flexbox` class to solve such issues: https://codesandbox.io/s/winter-wildflower-4i9s5?file=/src/App.js

[2020-12-08 12:24] IgorLesnevskiy commented on #286
oh, I'm sorry... I was adding that class to the outer container...

[code]

[2020-12-08 12:24] #286 closed

[2020-12-10 19:45] Naransim76 opened #287 "Disable on mobile"
Is there a way to disable the plugin n mobile?

[2020-12-10 22:03] KingSora commented on #285
@itshallrun alright, I'll take a look into it as soon as I have time.. I don't have a iPad, so I'll need some time to find a way to reproduce it

[2020-12-10 22:05] KingSora commented on #287
Good day!

You can set `{ nativeScrollbarsOverlaid: { initialize: false } }`to not initialize it on systems which already have a overlaid scrollbar.

[2020-12-11 03:40] beeteam368 commented on #285
Hello KingSora,

Thanks for great library!

I tested it very thoroughly on the iPhone.

I confirm that this is a problem when using on iOS.

Please review and fix it when possible!

Best Regards!

[2020-12-11 07:35] KingSora commented on #285
@beeteam368 I'll give my best :)

[2020-12-11 11:56] Naransim76 commented on #287
Hi, thanks for the response, it is working

[2020-12-11 11:56] #287 closed

[2020-12-13 21:13] GuessWhoSamFoo commented on #203
Seeing a similar issue on angular 10.

[code]

Looking into node_modules, the `ngc` directory is missing.
[code]

[2020-12-14 02:48] beeteam368 commented on #285
Thanks! Wish you a good day!

[2020-12-16 08:43] lossen opened #292 "[Deprecation] console warning message"
**Describe the bug**
I see this warning in the console related to this library.
[Deprecation] /deep/ combinator is no longer supported in CSS dynamic profile. It is now effectively no-op, acting as if it were a descendant combinator. /deep/ combinator will be removed, and will be invalid at M65. You should remove it. See https://www.chromestatus.com/features/4964279606312960 for more details.

**E

[2020-12-16 09:41] KingSora commented on #292
Good day @lossen

Are you using `OverlayScrollbars` with some kind of wrapper? (React, Angular, etc.?)
I'm not using any special CSS features or ShadowDOM Features in the plugin, so I'm very confident that the error shouldn't come at least from the core library.

[2020-12-16 09:59] lossen commented on #292
Hi @KingSora
Yes, I'm using overlayscrollbars-react, but in the console, I see the name and path of library in which the issue was caused.
<img width="1677" alt="Screenshot 2020-12-16 at 14 40 15" src="https://user-images.githubusercontent.com/14949813/102332842-d5e3b580-3fb6-11eb-9882-cd3239fb1825.png">
And I can go to problem place in code
<img width="921" alt="Screenshot 2020-12-16 at 15 54 52"

[2020-12-16 10:11] KingSora commented on #292
Are you getting the same error here: https://kingsora.github.io/OverlayScrollbars/#!overview ? I'm not able to trigger this error on my side with chrome `87.0.4280.88` on windows 10.

[2020-12-16 11:00] lossen commented on #292
@KingSora I'm not getting this warning by the link.

[2020-12-16 12:04] KingSora commented on #281
Fixed with [version 1.13.1](https://github.com/KingSora/OverlayScrollbars/releases/tag/1.13.1) / `"overlayscrollbars-ngx": "0.2.3"`

[2020-12-16 12:04] #281 closed

[2020-12-16 12:05] KingSora commented on #210
@TokkeDev @lovelyc4t @jecraig
Fixed with [version 1.13.1](https://github.com/KingSora/OverlayScrollbars/releases/tag/1.13.1) / `"overlayscrollbars-ngx": "0.2.3"`

[2020-12-16 12:05] #210 closed

[2020-12-16 12:05] KingSora commented on #263
Fixed with [version 1.13.1](https://github.com/KingSora/OverlayScrollbars/releases/tag/1.13.1)

[2020-12-16 12:05] #263 closed

[2020-12-16 12:06] KingSora commented on #256
Fixed with [version 1.13.1](https://github.com/KingSora/OverlayScrollbars/releases/tag/1.13.1)

[2020-12-16 12:06] #256 closed

[2020-12-16 12:07] KingSora commented on #255
Closing due to inactivity

[2020-12-16 12:07] #255 closed

[2020-12-16 23:37] faheemfactor commented on #190
Remove NgModule imported in any submodule of the application.

I believe the Ionic Team needs to give more readable messages and tracing the source map better.

[2020-12-18 22:10] KingSora commented on #292
@lossen sorry, but I'm not getting this message no matter what I'm trying..

[2020-12-19 16:28] #258 closed

[2020-12-19 18:12] stephenjason89 commented on #263
Thank you, will try it out.

[2020-12-19 19:59] KingSora commented on #263
@stephenjason89 I just fixed the passive events

[2020-12-20 03:37] stephenjason89 commented on #263
Thank you for your great work ☺️

[2020-12-30 11:41] HaceraI opened #293 "Using Vue OverlayScrollbarsComponent.osInstance() got null"
This is the first time that I've applied OverlayScrollbars to my Vue project, and now I've got a little problem

The version I use is:
  overlayscrollbars: ‘1.13.1’
  overlayscrollbars-vue: '0.2.2'

Before using it, I looked up the official example:
https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars-vue/example/src/App.vue

I want to change the scroll of overlay s

[2020-12-30 19:07] KingSora commented on #293
Good day @HaceraI!

Please create a small example of your problem in [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/). I can't spot anything wrong in your provided screenshots.

[2020-12-31 02:43] HaceraI commented on #293
@KingSora of course.
This is CodeSandbox: https://codesandbox.io/s/nifty-framework-4ubb8?file=/src/App.vue:2248-2293

[2020-12-31 02:44] HaceraI commented on #293
@KingSora of course
This is the CodeSandbox link: https://codesandbox.io/s/nifty-framework-4ubb8?file=/src/App.vue:2248-2293

[2020-12-31 12:25] KingSora commented on #293
Thanks!

I got the issue, but I'm not sure why it happens yet. You see, the `osInstance` is available after the `mounted` lifecycle method, but for some reason I don't know yet the `onContentSizeChanged` callback is called before that. Thats also why your `if` condition is fixing it.. I'll look deeper into it as soon as I have a bit more time.

[2020-12-31 16:31] HaceraI commented on #293
I hope the information I provide will be helpful to you:

 I got it OverlayScrollbars.js The final call to `onContentSizeChanged` is found in. This is a link to the related code:
https://github.com/KingSora/OverlayScrollbars/blob/master/js/OverlayScrollbars.js#L6482-L6486

After the `_initialized` is set to true, the `dispatchCallback` is called.
I wonder if every `callbacks` will be called once a

[2021-01-03 08:59] swagata1603 opened #294 "Scroll Event for Overlay Scrollbar"
Hi, I am using Angular version of the plugin. I have a list where i want to use pagination where on scroll it will load more items in the list. Do we have any scroll event where I can load more data?

[2021-01-05 17:07] Baedda commented on #256
Hey @KingSora,
I am sorry to say this, but the new version (1.13.1) is now breaking my implementation. The scrollbar now shows on top of flyouts that can be opened from inside our scroll container.

Since the `.os-padding` container is wrapping the inner scroll content, I find it dangerous to assign a zero z-index to it because this can break a lot. I bet I am not the only one who faces issues wit

[2021-01-05 17:30] KingSora commented on #256
Good day @Baedda!

Can you show me a example of what you exactly mean? Somehow I need to get the z-index right here...

[2021-01-05 17:53] Baedda commented on #256
Hey @KingSora - thanks for the fast answer 👍
Yes of course - but as you can imagine this is not to easy to explain. I will give it a try tomorrw :)

[2021-01-09 06:31] jetacpp opened #295 "Ability to add visual markers on the overlay scrollbar"
Hello, I was wondering if it would be a good idea for the library to support scrollbar markers. One example of scrollbar visual markers would be Chrome's scrollbar markers that highlights occurrences of search results. :+1:

[2021-01-12 09:35] adsee42 commented on #27
@KingSora
Sorry for commenting in a closed issue.

From #39 , the `extension system` seems to be implemented.
Any update on using with `table`?

[2021-01-12 10:44] KingSora commented on #27
@adsee42 well, no..

With the extension system you would be able to make it easy to use the plugin with a table, but you have to write this extension yourself, based on your expectations / features needed.

[2021-01-15 01:39] yasserhennawi commented on #190
You are the hero that we need, thanks you!

[2021-01-16 07:05] swagata1603 opened #296 "Check if scroll bar reached end of the container"
Hi,

I have created my own custom component using overlay-scrollbar. In there I am trying to detect if the scrollbar reached end of the container. I have found one of your previous solutions where you have mentioned to check if the **y ratio is 1**. But in my custom component, on scroll event I am never getting 1 but the scrollbar is already reached end. This is the max number I am getting `0.9904

[2021-01-16 15:24] KingSora commented on #296
Good day!

Can you send me a small example of your component / app on [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/)? I can remember that I've had a similar bug which I've fixed in the past already, so please make sure to use the latest release. Also checked it here in my fiddle and it works well: https://jsfiddle.net/mzLye41b/2/

[2021-01-16 17:07] swagata1603 commented on #296
Hi, Thank you for the reply, don't know what happened, in the demo StackBlitz it is also working fine, but in my local app it is not. Let me check my local app. Can you please the component that I have created if it is ok or not I am using the same component in my demo app.

One more question how can I create a custom component for text area in angular. I have read your docs could not find anythin

[2021-01-16 18:44] #294 closed

[2021-01-17 07:38] swagata1603 opened #297 "Uncaught ReferenceError: OverlayScrollbars is not defined"
I am trying to add os-scroll-chain extension in my angular app. But getting this error - `index.js:1 Uncaught ReferenceError: OverlayScrollbars is not defined`

I have added the cdn in my index.html -
`<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/os-scroll-chain@1/dist/os-scroll-chain.min.js"></script>`

I have added these in my main ts file
[code]

Then in my custom overlay sc

[2021-01-17 19:51] KingSora commented on #297
Good day!

Please try to import `OverlayScrollbars` first, like:

[code]

And I guess you don't need that line: `OverlayScrollbars.extension('scroll-chain', scrollChain)` this plugin does this for you already.

[2021-01-18 03:34] swagata1603 commented on #297
Hello Thank you for the response, I have done this in main.ts, but getting this error below.

[code]

![scroll-chain-error](https://user-images.githubusercontent.com/67018265/104869432-0cbd3a80-596c-11eb-9263-518126edc7e4.jpg)

[2021-01-18 03:40] swagata1603 commented on #296
@KingSora , Hi, can you please guide me , how I can create a component for textarea's with custom scrollbar

[2021-01-20 14:01] swagata1603 commented on #297
@KingSora, Can you be able to provide any solution on this? if you can not then tell me I will close the issue.

[2021-01-20 21:06] KingSora commented on #297
@swagata1603 I don't really know where this error is coming from. If I set up a example angular project everything works as expected: https://stackblitz.com/edit/angular-module-sandbox-lwehqx?file=src%2Fapp%2Fapp.component.ts

- in main.ts I'm registering the extensions:
[code]
- app.component.html I'm using the component and I'm using `scroll-chain` as extension:
[code]

- app.component.ts I'm lo

[2021-01-20 21:12] KingSora commented on #296
@swagata1603 is your initial problem solved?

Regarding Textarea you can take a look at: https://github.com/KingSora/OverlayScrollbars/issues/167
You can also use a directive https://github.com/KingSora/OverlayScrollbars/issues/278 on a textarea which will give you the desired effect.

[2021-01-21 03:25] swagata1603 commented on #296
@KingSora Thank You

[2021-01-21 03:25] #296 closed

[2021-01-21 03:37] swagata1603 commented on #297
@KingSora , Thank you. You are Awesome. The error was occurring because i have injected the os-scrollchain js in my angular.json. now with the help from your example it works like charm.

[2021-01-21 03:37] #297 closed

[2021-01-21 11:17] FSDRE commented on #256
@Baedda You are the master of your app. You can run in all sorts of z-index discrepancies if you're running multiple JS frameworks at the same time for example or if two different libraries run different "z-index patterns". It is not necessarily the framework or the library that needs to fix those issues.

I use the Angular Material Dialog and I have also had some "background elements" overlapping

[2021-01-21 20:40] KingSora commented on #295
Good day @jetacpp

Thats definitely 100% possible, although I probably won't do it myself, because the usecase is very specific. Its something which could be done as a extension.

[2021-01-21 20:41] KingSora commented on #292
@lossen does the issue still persist? - Did you try different devices or browsers?

[2021-01-21 20:52] KingSora commented on #284
Good day @bbpoizon!

Yes, thats kind of an small limitation, but you can work around it by changing the `height` of the `.os-content` element to `auto`.
In your case:

[code]

[2021-01-21 20:55] KingSora commented on #250
@Dutchman1990 In case you have still problems, please open a separate issue. I'll close this issue because of inactivity of @dkornilove. In case your issue still persists, pelase feel free to reopen the it.

[2021-01-21 20:55] #250 closed

[2021-01-21 21:15] KingSora commented on #157
@smorandi I stumbled upon a solution to the horizontal sticky problem of yours. If you set the style of the `.os-content` element to `display: inline` it actually works. I know some time passed already since you posted your issue, but better later than never.

[2021-01-22 14:06] smorandi commented on #157
cool, good to know - and yes, better late than never ;)

[2021-01-26 09:26] ndanzi commented on #148
Is there the possibility to make it work also with react-virtualized?
here is a sandbox with a non working example: https://codesandbox.io/s/peaceful-swirles-c61w0?file=/src/App.js

[2021-01-26 23:14] AleshaOleg commented on #77
Is it possible to somehow do an auto-expandable text-area with a custom scrollbar? Are any examples of this?

Something like that: https://medium.com/@lucasalgus/creating-a-custom-auto-resize-textarea-component-for-your-react-web-application-6959c0ad68bc

[2021-01-27 00:14] KingSora commented on #77
@AleshaOleg do you mean something like that: https://kingsora.github.io/OverlayScrollbars/#!demos/textarea (you have to click on the "Full Dynamic Height" button first)

[2021-01-27 02:31] AleshaOleg commented on #77
@KingSora yes, exactly. How I can implement this with React?

[2021-01-27 02:37] AleshaOleg commented on #77
@KingSora sorry, might be that example not too good. Let's say I have `textarea` with `rows` value 5. And after text takes I need to show a scrollbar. Or at least I can do it manually by multiplying rows to my row height, as I have `rows` as React property and not for `textarea`. Is it possible?

[2021-01-31 23:17] KingSora commented on #77
@AleshaOleg I'm too lazy to create an example, but I'm pretty sure its possbile

[2021-02-01 19:48] tomas-c opened #298 "Option to disable os-host-scrolling class for better performance"
**Is your feature request related to a problem? Please describe.**

It seems that OverlayScrollbars adding/removing the "os-host-scrolling" class can trigger expensive style recalculations in Chrome. In my chat app this recalculation can last 10-400ms (based on the number of DOM elements) and can make scrolling jittery, especially when using a mouse wheel.

When I remove the code that adds/removes

[2021-02-01 22:46] KingSora commented on #298
@tomas-c Good day!

Thanks for the suggestion.. this looks like a reasonable feature to add. Since I'm planning to re-strucutre `v2`, this would be definitely part of that.

This class was meant to be an easy "entry point" for custom themes, I didn't know chrome would trigger expensive re-calculations on a empty class. For `v1` I'm not quite sure how to add this in an elegant way yet..

[2021-02-03 11:48] tomas-c commented on #298
**Check custom styling via os-host-scrolling exists and disable the feature if it doesn't**

Would avoid adding an extra option but I don't think this can be done in a reliable way unless you have a mutation observer on the whole document and search for that class on every mutation by iterating document.styleSheets

**Make this feature opt-in via an option**

I suspect if anyone (probably only ver

[2021-02-09 13:59] KiddoV opened #299 "Scrollbar not Showing on IE8"
First of all, very nice plugin scrollbar. I am impressed and pleased. It's like a magic!

So... The website (https://kingsora.github.io/OverlayScrollbars/#!overview) mentions browsers support should included IE8 right?
It's said "8+".
Scrollbar is not visible at all. Using Jquery version. Also using JQuery v1.12.4.
Thanks,

[2021-02-09 19:00] KingSora commented on #299
Good day @KiddoV!

Thanks for the report, although this is *kinda* on purpose. Everything should be fine with the script, the only thing which isn't supported by IE8 is the `backgrond: rgba()` CSS property I'm using for the scrollbars styling.

If you replace that with IE8 friendly colors, this issue should be gone. If you want, I can also create a small example for you.

[2021-02-09 19:44] KiddoV commented on #299
@KingSora Thanks for the quick response!
Please provide an example.
Thank you!

[2021-02-09 21:10] KingSora commented on #299
<details>
<summary>I believe this CSS should work:</summary>

[code]

</details>

Note that I only replaced the `rgba` values with IE8 compatible colors like `gray`, `black` and `white`.

[2021-02-09 22:47] KiddoV commented on #299
Thanks. It's works.
I think this should be a better solution for opacity tho, but thank you!
`.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
  /* For IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#66000000', EndColorStr='#66000000')";
  background: rgba(0, 0, 0, .4)
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-s

[2021-02-10 00:03] KingSora commented on #299
OverlayScrollbars wraps your content in its own generated DOM. To add elements into it, you have to add it into the `content` element:

[code]

[2021-02-10 03:30] KiddoV commented on #299
Thank you! It works. I really appreciate it!!!
Really love this library.
Thanks again!

[2021-02-10 03:30] #299 closed

[2021-02-10 08:37] KingSora commented on #299
Glad I could help :)

[2021-02-17 17:01] KiddoV opened #302 "No Animation (Transition)"
**Describe the bug**
Animation (transition) not working after init OverlayScrollbar.
Specifically, when using Fomantic-UI modal. The transition is working when closing modal, but not when init the modal.
Attached below!
( Specs:  Windows 7 | IE11 | JQuery-3.5.1 | UI - Fomantic-UI)

**Additional context**
Without OverlayScrollbar (very nice and smooth transition)
![without-OS](https://user-images.g

[2021-02-18 04:01] KiddoV commented on #302
All clear! Got fixed by adding a work-around using buit-in global options on modal: onVisible and onHidden...

[code]
So ...we have to wait for the modal to finished the animation first before OverlayScrollbar got init, and also have to destroy the scrollbar after using modal.
When modal is animating, we can still see the default scrollbar, so I have to add an CSS to hide the default scrollbar all

[2021-02-18 04:02] #302 closed

[2021-02-19 18:17] #55 closed

[2021-02-26 14:23] RoboVij opened #303 "Can't get it working with div, b-table in vue"
I'm using overlayscrollbars-vue. `"overlayscrollbars": "^1.13.1", "overlayscrollbars-vue": "^0.2.2"`
I'm new to styling scrollbars. So wasted a lot of time and got it to work on the `<body>` like below, not sure if it's the right way.

`index.html`:

[code]

 But not able to get it to work on `div` and mainly with boostrap-vue `b-table`.

Component registration in `main.js`:

[code]

`somefile.vue

[2021-02-28 10:27] c9mb opened #304 "Issue when using jquery.Waypoints"
I have a site that uses jquery.Waypoints to initiate animation when page elements scroll into the viewport.

When I add OverlayScrollbars to the body element (on dom load) this appears to interfere/block the scroll-events triggering the waypoint activation - and so no animations are shown.

If I disable OverlayScrollbars, then jquery.Waypoints behaves as expected, and the page animations are activ

[2021-03-02 05:47] c9mbundy commented on #304
Actually, the problem appears to be wider than just the plugin, and extends to general use of jquery.scroll() event, which this plugin also uses. I have other code relying on the jquery scroll() event handler, and it doesn't function when overlayscrollbars is active.

[2021-03-02 09:21] KingSora commented on #304
Good day @c9mbundy!

Please create a minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/). I really appreciate your detailed description, but without a example its very hard to figure out the problem.

[2021-03-02 10:42] c9mbundy commented on #304
Ok, I'll try to find some time to do that, and see if I can repro in a simple example.

As you might imagine, my working application is quite complex, but the gist of the problem is that scroll events are not making it past overlayScrollbars for reasons I don't understand (likely stupidity on my part).

[code]
No console output from $(window).scroll() - which explains why my other $(window).scroll

[2021-03-02 11:36] KingSora commented on #304
@c9mbundy that happens because OverlayScrollbars is generating its own DOM, and therefore the scroll event isn't actually happening anymore directly on the `body` element, but on a different element instead. This is something I plan to change in `v2.0.0` of the plugin.

[2021-03-02 12:42] c9mbundy commented on #304
I see - I seem to recall that scroll events don't bubble-up - so I assume that's why the document and window scroll events don't fire, as scrolling the entire page seems to be a special case that fires those.
I use window scroll events all the time, so I guess that's a show-stopper for me with the current version.
I'm pretty sure that WayPoints is using scroll events and also making the assumption

[2021-03-03 09:26] KingSora commented on #304
@c9mbundy yes, thats usually how such libraries work. Sometimes they provide a options where you can specify the `viewport`, then you could specify there the new element create by OverlayScrollbars. In jQuery Waypoints its the `context` option: http://imakewebthings.com/waypoints/api/context-option/

I've created a small example for you: https://jsfiddle.net/4akzm0fc/ maybe this helps :)

[2021-03-03 10:26] KingSora commented on #303
Good day!

I'm not a expert with Vue, but your code looks good to me. Maybe you'll find a clue by taking a look at the Vue repo (with example): https://github.com/KingSora/OverlayScrollbars/tree/master/packages/overlayscrollbars-vue

[2021-03-03 11:35] RoboVij commented on #303
I did check it out multiple times before asking here. But I didn't find anything specific and I don't understand it fully either as it has lot of extra code (I think it's probably importing some code from the main `overlayscrollbars` project and it's deployed at a subroot on the main project's site so I didn't even find the code for scrollbar on `<body>`. I found it via google).

It'd be very help

[2021-03-03 12:21] KingSora commented on #303
I've created a small CodeSandbox for you: https://codesandbox.io/s/pensive-payne-1h7wr

Things I did:
1. Add dependencies `overlayscrollbars` and `overlayscrollbars-vue`
2. Add imports and `Vue.use` to the `main.js`:
[code]
3. Go to the `HelloWorld.vue` component and use it as the root.
4. Make sure the OverlayScrollbars component doesn't grow with the content infinitely (added `max-height` style)

[2021-03-03 13:01] tekpanda commented on #220
I've just hit this same issue, went in circles for ages wondering what it was! Again only happens on SSR, and fixed by using `client-only` but then you lose the SSR part.

Seems that some of the initialisation that happens on the server during SSR is carried over to the client, (which has a different browser) and so invalidates some of the probed config. Looks to me like the Vue component needs to

[2021-03-03 13:13] RoboVij commented on #303
Wow! Thanks a lot. As I thought, just a basic mistake. Keeping `max-height` as you pointed in Step no. 4 and removing the `<div>` around it worked for me.

Same goes to the `<body>` scrollbar. Your code worked, instead of changing the `index.html` as I did. I think it'd be helpful for new programmers like me if this is added in the documentation.

One last problem is with the `<b-table>`. It works

[2021-03-03 13:45] tekpanda commented on #220
I did manage to get it working by hacking in a reinitialisation after mounting on the component using it:

    <template>
        <overlay-scrollbars ref="scroll" class="h-100" :options="{ className: 'os-theme-light' }">
                etc...
        </overlay-scrollbars>
    </template>

In script...

    mounted() {
        this.$refs.scroll._osInstace.destroy();

        setTimeout(() => {

[2021-03-03 14:55] Pipas opened #306 "Fixed element inside scroll container draw over the scrollbar"
I am trying to have an element inside the scroll content overflow outside this area, and to achieve this I give it position fixed and calculate it's position according to the viewport and it works.

However when the element overlaps with the scrollbars the scrollbars are drawn on top of it since the the `os-padding` z-index, which is the stacking context for any element inside of the scroll area i

[2021-03-03 15:11] Pipas commented on #306
It appears my workaround does have many unintended consequences so for now my elements are being drawn under the scrollbars.

[2021-03-03 19:30] KingSora commented on #306
Good day @Pipas!
The usage of `z-index` should be fine, but the `bottom: 6px` rule will definitely cause problems. Since its intended that scrollbars are always drawn above the content (because whats the concrete usecase of having partially covered scrollbars?) I don't have a solution from the top of my head. Maybe you could create a small example on https://jsfiddle.net/ so I could try out differ

[2021-03-03 19:36] KingSora commented on #303
I guess `b-table` is a different library you're using. The usual problem here is, that `b-table` doesn't know `OverlayScrollbars` and OverlayScrollbars also doesn't know `b-table`.

Solutions for this kind of usecase are in general complex because each library works differently and has its own quirks. In `v1.x´ of this plugin I haven't really focused on this particular problem (although its workin

[2021-03-04 09:16] Alex-Sokolov commented on #220
@tekpanda maybe better to use nextTick against setTimeout?

[2021-03-04 09:19] tekpanda commented on #220
@Alex-Sokolov Yes quite, my thought too, this was just a quick hack! Having looked at the code for the Vue component, the initialisation of the overlayscrollbars happens in the mounted hook which only runs client-side already, so I wonder if in fact all it needs to a wrap around next tick or similar in mounted?

[2021-03-04 10:15] RoboVij commented on #303
Ya, I thought the same.

Here's a simple example: https://codesandbox.io/s/icy-surf-ecdd3
(Sharing a sandbox for the first time. Lemme know if there's any problem accessing it)

[2021-03-04 16:41] KiddoV opened #307 "Lagging: 2 Ways Data Binding with OS is Laggy on IE11"
**Describe the bug**
See the attached gif(s) below.
See that when data-binding without OS is very smooth, feel like instantly.
With OS, it's like 1-2 seconds delay there.  (Even with only 14 items on the array)
- I also tried osInstance.sleep() and osInstance.update(), still doesn't works.
-  On other browsers are very smooth.
- My project only target IE11.

**Environment**
Windows 7 | Jquery v3.5

[2021-03-05 08:41] Alex-Sokolov commented on #220
setTimeout doesn't guarantee that template will be updated, but nextTick recommended for using in that cases

[2021-03-08 09:33] RoboVij commented on #303
An update: My company is switching to Vuetify instead of bootstrap-vue. So, I don't need this `b-table` support anymore.

[2021-03-14 23:26] c9mbundy commented on #304
Sorry for the delayed reply - I've been tied up on a project - rent to pay and all that,

Changes to Waypoints are helpful, thanks, but unfortunately doesn't address the primary issue of not being able to rely on Window/Document scroll events when OverlayScrollbars is applied to the body. I have existing code depending on Window/Document scroll events when the body scrolls, and I'm not sure how to

[2021-03-16 22:31] aquaductape opened #310 "Chrome Spacebar or Arrow keys doesn't scroll when scrollbar is clicked"
**Describe the bug**
When container is selected, Spacebar or Arrow keys will scroll container as expected. But when scrollbar is previously clicked,
Spacebar or Arrow keys doesn't scroll the container.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit [demo page](https://kingsora.github.io/OverlayScrollbars/#!demos/basic).
2. Click content inside scrollable demo container.
3. Press Space

[2021-03-18 07:51] KingSora commented on #310
Good day @aquaductape!

I've tested it, and it seems to be only happening in chrome. Firefox is fine. I'm not sure whether I can do someting about it, but I'll see what I can do.

[2021-03-18 07:53] mxmvrnn opened #311 "How it work with Svelte"
I am trying to create a wrapper for Svelte, but upon initialization, my DOM is blocked. Guys who came across this have examples of initialization.

[2021-03-18 08:46] KingSora commented on #307
Hey @KiddoV,
sorry for the late reply..

I've no idea whats happening there, but since other browsers seems to be fine, I'm not sure whether I'll investigate this. If you want, you can create a small demo for me, where I can then test my suspicions.

[2021-03-19 02:34] aquaductape commented on #310
Thanks! It's not a deal breaker for me, but it is good to keep as close to native scroll behaviors as possible.

[2021-03-23 13:23] KingSora commented on #310
@aquaductape it seems that `tabindex="-1"` fixes this issue. You just have to add it to your target element.

[2021-03-24 02:06] patxbert commented on #278
@KingSora Hey, any update on this? I believe this may be a better use in Angular than the component that is currently available. In our app,  we have been using `<overlay-scrollbars>` and having some issues with knowledge of the possible quirks, but reading the documentation on native JavaScript, it looks like it's mostly better to call `Overlayscrollbars()` on the scrollable element. This directi

[2021-03-24 15:38] Pipas commented on #306
Sorry for the late response I have been busy these past weeks.

An option I have encountered and started using is to use react portals to render the popup outside of the scrolling element from inside to not disrupt the logic. I used [this](https://www.npmjs.com/package/react-cool-portal) library to achieve this but you can just implement them in react. Here is the documentation for [react portals]

[2021-03-24 23:37] therealgilles opened #312 "ResizeObserver loop completed with undelivered notifications"
**Describe the bug**
I am getting this JS warning when I resize the browser window. Depends on the window size, sometimes the sidebar gets hidden by CSS. Not sure if that has anything to do with it.

**To Reproduce**
The site isn't public so I cannot share it. Let me know if you need more information to track this down.

**Expected behavior**
I am not expecting any JS warning messages (unless I am

[2021-03-25 10:30] KingSora commented on #312
Good day @therealgilles!

Which warning do you mean? Is it also appearing on the documentation page: https://kingsora.github.io/OverlayScrollbars/#!overview ?

[2021-03-25 10:32] KingSora commented on #304
@c9mbundy Unfortunately you'll need to wait until the release of `v2.0.0`. I can't address this issue in `v.1` because its definitely a breaking change.

[2021-03-25 10:34] KingSora commented on #306
@Pipas glad to hear that you solved the problem, also thanks for sharing your solution! I guess this issue can the be closed?

[2021-03-25 17:01] KingSora commented on #292
@lossen I'm sorry but I'm closing this issue due to inactivity and because I couldn't reproduce it until now. Please feel free to re-open in case you have new feedback.

[2021-03-25 17:01] #292 closed

[2021-03-25 17:04] KingSora commented on #278
Hello @patxbert!

Thats very cool, thanks a bunch. Its quite a bit since I've worked with angular, so I'm not very sure which informations you need. I can remember that directives are codewise very similar to components, so I guess you could just take most of the current component code.

[2021-03-25 17:04] #295 closed

[2021-03-25 17:54] therealgilles commented on #312
This is the warning: "ResizeObserver loop completed with undelivered notifications"
but I think it may be coming directly from the browser.

Weirdly I don't see it in the JS console. It is only reported by the Debug Bar plugin I use on the WP site, so I'm not sure how to reproduce the behavior in a different environment. Sorry for not being more helpful.

[2021-03-25 22:01] KingSora commented on #303
@RoboVij alright, is it fine to close the issue then?

[2021-03-29 07:04] RoboVij commented on #303
Yes

[2021-03-29 07:04] #303 closed

[2021-03-29 17:31] KingSora commented on #312
@therealgilles thats weird.. It could be connected to #90.. I'll look into it as soon as I have time

[2021-03-29 20:13] #310 closed

[2021-03-31 05:04] bennyAngu commented on #190
can't resolve still . help to find , thanks in advance[](url)

[2021-04-01 07:34] marioderksen opened #319 "jQuery UI + OverlayScrollbars bug?"
Hi All,

First of all my compliments for this amazing library.
I love it and used it for many times on different projects.

I run into a problem though.
Please take a look at this Fiddle and try to sort from top div to bottom div.
https://jsfiddle.net/mderksen/mu74x1hz/36/

I would like the handle be always visible (like Item 6 sorting to the upper div).
This is not the case when you drag one of t

[2021-04-01 08:24] KingSora commented on #319
Good day!

I tested this and the reason the item handle isn't "moving outside" the scrollable div, is because the elements generated by `OverlayScrollbars`. They are relying on position `relative` and `absolute` styling, and thus trapping everything inside.

If I add `position: relative` to your CSS: https://jsfiddle.net/c9xqof67/ you get the same result as with the plugin. In `v.1` this behavior

[2021-04-01 09:55] arthur-clq opened #320 "Using OverlayScrollbars breaks css transform property in Firefox"
**Describe the bug**
Hi KingSora, first off thank you so much for creating and maintaining this awesome plugin, made my projects look so much more awesome compared to build in scrollbars.

I recently created a parallax scrolling page and applied this plugin to it. It worked fine in Chrome but breaks the css transform property in Firefox. I have tried the vanilla version and also the Vue wrapper an

[2021-04-01 13:47] KiddoV commented on #307
Hi @KingSora
Here is the demo: [OS-Issue.zip](https://github.com/KingSora/OverlayScrollbars/files/6243941/OS-Issue.zip)
Please open it with IE11. Thanks!

[2021-04-01 13:51] Pipas commented on #306
I guess so

[2021-04-01 13:51] #306 closed

[2021-04-02 20:35] Eric24 opened #321 "Option prop to control whether the component sets focus on initialization"
**Is your feature request related to a problem? Please describe.**
It appears that the component always sets focus when it is initialized. There are times when this is undesirable, as the focus is set to the OverlayScrollbar (or maybe its parent--in our case, the OverlayScrollbar is inside an iFrame).

**Describe the solution you'd like**
The stated purpose of the focus call is to enable keyboard

[2021-04-02 23:00] therealgilles commented on #312
@KingSora: I see the scrollbar area sometime disappear on window resize because of this:

[code]

Is there a way to re-init the scrollbar on resize?

[2021-04-03 00:00] therealgilles commented on #312
I was able to use the destroy() function to remove the instance on resize and re-create a new one. I also avoid creating an instance when I actually do not want the scrollbar, based on a screen size breakpoint. With these two changes, the warnings have disappeared :)

[2021-04-03 02:46] therealgilles commented on #312
I think the warning occurs if something changes in the layout (window resize for instance) and the scrollbar is not necessary anymore or necessary again. In my case, I have a grid layout with two columns. I want the second column to have a minimum height but not be longer than the first column (if the first column is longer than the min height). I use a flexbox to make it work and put the scrollba

[2021-04-03 07:19] KingSora commented on #321
Good day @Eric24!

So you're initializing OverlayScrollbars in a iFrame on your page. Are you initializing it from within the iFrame (so the OverlayScrollbars code doesn't know anything outside the iFrame) or are you initializing it from outisde (the main page is accessing the iFrame and then initializing OverlayScrollbars on the body element)?

[2021-04-03 14:45] Eric24 commented on #321
Hi Rene! Thanks for the quick reply.

Yes, we have multiple iFrames on the page, and each has its own instance of OverlayScrollbars "inside" the iFrame (it's the content of the iFrame that we are wanting to scroll with OverlayScrollbars), and yes, OverlayScrollbars are not aware of anything other than their "own" iFrame.

[2021-04-05 09:15] SourceCipher opened #322 "The content is not being scrolled when the mouse is over the scrollbar"
**Describe the bug**
When you hover over the scrollbar or its area, using mouse scroll wheel, the content is not scrolled as it should be

**To Reproduce**
Any demos from https://kingsora.github.io/OverlayScrollbars/#!demos

**Expected behavior**
It should not matter if you hover over the scrollbar, it should always scroll, same as the default scrollbars do or at least have an option to support th

[2021-04-05 09:53] KingSora commented on #322
Good day @SourceCipher

I believe this is a duplicate of #128. I'm not sure whether I can do something about it, but I'll try figuring something out.

[2021-04-05 10:05] SourceCipher commented on #322
Sorry for the duplicate.

Can you share the solution which can fix this issue even if its only for the webkit? Our project is considering only webkit anyway so that would be a workaround as it seems like this is a big issue as it doesnt work as a native scrollbars and it would be a shame to throw this library away as it the best one which actually works for us from the other many we tried.

Great

[2021-04-05 20:13] KingSora commented on #322
The solution I was trying out was to listen to the `wheel` event and as soon as it fired I set the `pointer-events` of `.os-scrollbar` elements to `none`. After a certain time of the `wheel` event not firing the `pointer-events` were set to `auto` again.

That was like the first idea I got, maybe there is a better approach which also works for Firefox etc.

[2021-04-05 20:21] KingSora commented on #320
Good day @arthur-clq!

Thats a though issue.. I don't think I can solve it for `v1` but I can try with `v2` since its possible to get rid of some wrapper elements there.

[2021-04-05 20:30] KingSora commented on #322
@SourceCipher I've created a small POC for you: https://jsfiddle.net/mjxokuyv/

Its funny, somehow it now also works in Firefox.. does it also work for you?

[2021-04-06 18:33] KingSora commented on #150
Small update here, since its been a while. Development of `v2` is going well, I finished already a significant amount of work:
 - Everything related to **utilities** (DOM manipulation, traversal, options validation, browser compatibility etc.) - (code & tests)
 - All the **observers** (trinsic, size and mutation) are pretty much done (code & tests)
 - **Instances** handling with shared **environme

[2021-04-06 21:46] tryggvigy commented on #150
Thank you for maintaining this great library @KingSora!

[2021-04-07 02:07] iomariani commented on #96
Came looking for this solution as well, worked flawlessly!

@KingSora is there a easy way to identify which of the snapped item is currently active?

[2021-04-07 07:53] KingSora commented on #96
Good day @iomariani!

There sure is one, I just don't know it. If you can do it with a native scroll element, you should be also able to do it with OverlayScrollbars.

[2021-04-07 10:37] akcasoy commented on #257
I am having a similar issue. and although your console.log(this) actually prints the component itself, somehow we cannot change any values in "this" component. Try changing the visibility of your "Togglable item" with this: this.itemVisible = true; in the callback function:

[code]

[2021-04-08 08:05] SourceCipher commented on #322
@KingSora Its working great on my Opera. I tested even on the MS Edge and it works. I think thats a good workaround

[2021-04-08 08:23] KingSora commented on #322
@SourceCipher Alright, thanks for your feedback! I'll try to implement it in the next release and in `v2`.

[2021-04-08 18:17] iomariani commented on #96
I've tried a few ways and easiest was to manually calculating the `offsetLeft` (`position.x` from `scroll` method) of the viewport, versus the div offset based on scroll container. A bit tricky but it works! 😅

By the way, when using scroll snap, it seems that using the plugin `scroll` method while trying to use a duration + easing, will result in a chunky animation as the plugin simulates the scr

[2021-04-08 20:22] Eric24 commented on #321
@KingSora - Any feedback on this? Just wanting to know where you stand on it.

[2021-04-09 07:36] KingSora commented on #321
@Eric24 I'm sorry I didn't have time yet to take a deeper look at it.. but generally you shouldn't get a focus on elements after initialization where it wasn't before.. (thats why there is this check: `document.activeElement == targetElement`)

[2021-04-09 13:30] Eric24 commented on #321
@KingSora - No worries, I just wanted to be sure it didn't get lost in the shuffle.

I think the reason I'm seeing the focus is because I'm creating a series of iFrames and "injecting" content into them. Part of that content is the OverlayScrollbars code. I believe that from the perspective of OverlayScrollbars, the full iFrame isn't the activeElement at the time it's initialized.

[2021-04-09 13:40] stephenjason89 commented on #263
Hello @KingSora, I didn't want to create a new thread. Would just want to say to please include in V2 a way to properly send scroll events so that vuetify would be able to detect it. This is for hide on scroll events and other stuff that use scrolling , like intersect.

[2021-04-09 18:32] KingSora commented on #263
@stephenjason89 could you please elaborate on that further? I'm not sure I understand what you mean..

[2021-04-09 18:37] KingSora commented on #321
@Eric24 ah ok!

So the situation is you have your page, on your page you have the `OverlayScrollbars` script. Then you're creating some iframes and you're using the OverlayScrollbars script from your original page to initialize OverlayScrollbars inside the iframes. If thats the case its possible for me to disable the `focus` if the target is inside a different document.

Thats the thing I wanted t

[2021-04-09 18:42] KingSora commented on #311
@blackamlet Good day and sorry for the late answer.

I'm not very familiar with svelte, so I'm probably not the best guide for this issue..

[2021-04-10 08:29] stephenjason89 commented on #263
Here is an example that i would like to use

https://vuetifyjs.com/en/components/app-bars/#hiding-on-scroll

the app-bars hide on scroll
but if i use the overlayscrollbars, they don't work

i had to implement something like this just to get the scroll event and hide the app-bar or anything that vuetify has which is triggered by the scroll event.

[code]

Basically, the scroll event that vuetify li

[2021-04-10 10:17] KingSora commented on #263
I understand.. in `v2` you'll get more freedom of how to initialize OverlayScrollbars, but it will still generate some elements. The only exception I'll be making will be the `body` element where the target element will also be scrolling element.

With the `app-bars` for example you can specify the scroll target there with the `scroll-target` property. Thats something which will probably always re

[2021-04-12 11:28] stephenjason89 commented on #263
@KingSora Thank you :) Will test out v2 once it is ready and provide more feedback :)

[2021-04-12 13:31] lightsinthesky commented on #321
I created a very basic code sandbox that illustrates the issue - https://codesandbox.io/s/loving-oskar-nbdci . On chrome and firefox on osx you can resize the browser frame such that it will scroll and simply update the html to trigger a refresh. The browser frame will scroll all the way to the bottom as the iframes are reloaded.  This doesn't happen in safari.

[2021-04-16 08:56] saeed410 opened #323 "how to show horizontal scrollbar in both side top and bottom of div"
hi.
how to show horizontal scrollbar in both side top and bottom of a div.

[2021-04-20 08:00] rushifeishi commented on #190
I get the same errors.

error detail:
![image](https://user-images.githubusercontent.com/5295278/115358572-6265e500-a1f0-11eb-9cd2-42df18f42e56.png)
error postiion:
![image](https://user-images.githubusercontent.com/5295278/115358720-875a5800-a1f0-11eb-9a2e-4daf59ad9335.png)

So I checked my NgModule imports:
![image](https://user-images.githubusercontent.com/5295278/115358077-e075bc00-a1ef-11eb-8

[2021-04-22 08:58] SourceCipher opened #329 "Scrolling will not update on display: none element"
**Libraries**
All latest

**Issue**
When the element is set to `display: none` via css, the scrollbar will not update at all even with update(force) or update() calls.

**To replicate**
You can go on the libraries website here https://kingsora.github.io/OverlayScrollbars/#!demos/scroll and add the style  `display: none` to the `id='scroll-demo-plugin'` element. When you press the buttons to scroll

[2021-04-22 10:35] KingSora commented on #329
Good day @SourceCipher

So your goal is to change the scroll offset of a element while it is set to `display: none`?

[2021-04-22 11:27] SourceCipher commented on #329
Hi @KingSora,

Thanks for your quick response. You are right, but it seems like even trying to update the scrolling in the onUpdated callback or when I switch the tabs to go to the table and scroll it it doesnt update as well.

For example we have a func to scroll to a selected row and when you switch the tab, I have tried to call that func to scroll in onUpdated callback which is fired after the

[2021-04-22 14:02] KingSora commented on #329
@SourceCipher yes please create a demo.. then I can work out the best solution possible. 😄

[2021-04-23 09:36] SourceCipher commented on #329
Actually I made it work and I am using the `onUpdated` callback to scroll to the row if the table is visible.. I think the issue was that it was scrolling when the table was in display none mode and react wasnt updating it properly.

This is not an issue with the library as its more with our project, the way we integrated I would think. Thanks for your speedy support!

[2021-04-23 09:36] #329 closed

[2021-04-23 11:10] KingSora commented on #329
I'm glad everything is working now :)

[2021-05-05 18:26] whoisme555 opened #331 "os-content-glue extremely laggy width change"
When adding a slide out panel on my app as shown in the gif, the os-content-glue width slowly ticks down. The width transition on the panel is set for .3s, but it ends up taking 5+ seconds to complete. Any idea why this might be happening?

![slow scrollbar width](https://user-images.githubusercontent.com/50149901/117190598-a559b800-adad-11eb-8a3f-ea6d7e15736b.gif)

[2021-05-07 15:56] ianthedev opened #332 "Unfixed-heighted host's height become 0 due to a flex parent"
**Describe the bug**
When the parent element has the CSS `display: flex` declaration and the host's height is unfixed, the host cannot be seen because its height becomes 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Set CSS declaration `display: flex` on the parent element.
2. Do not set any height on the host element (.os-host)

**Expected behavior**
The host element should remain in s

[2021-05-08 10:34] KingSora commented on #331
Good day @whoisme555 :)
Do you mind creating a minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/)? Its hard for me to analyze the problem only from your gif.

[2021-05-08 10:39] KingSora commented on #332
Good day @ianthedev :)
OverlayScrollbars has troubles with `flexbox` and `grid` layouts. In `v2.0.0` this will probably be completely solved, but until then you have to add the class `os-host-flexbox` to your target element, if its a flexbox item. You can read more about it in the [documentation](https://kingsora.github.io/OverlayScrollbars/#!documentation/flexbox).

Until then you can fix your is

[2021-05-08 13:01] ianthedev commented on #332
@KingSora Thanks for the tip!

[2021-05-08 13:01] #332 closed

[2021-05-08 13:56] KingSora commented on #323
Good day @saeed410

Well.. the library wasn't really build to display two scrollbars of the same kind in two differen places at once.. You'd have to somehow clone the existing one with all its listeners.

[2021-05-11 13:11] whoisme555 commented on #331
Sorry, @KingSora I went to make a jsfiddle just a second ago and not only is it not reproducible there, it's not reproducible in my own solution. I'm operating under the assumption that my computer decided it was giving up on the day I took this gif haha

[2021-05-11 13:11] #331 closed

[2021-05-14 09:39] NurGuz opened #345 "Cannot read property 'id' of undefined"
**Describe the bug**
Uncaught (in promise): TypeError: Cannot read property 'id' of undefined TypeError: Cannot read property 'id' of undefined at registerNgModuleType (http://localhost:4200/vendor.js:89814:34) at http://localhost:4200/vendor.js:89825:47 at Array.forEach (<anonymous>) at registerNgModuleType (http://localhost:4200/vendor.js:89825:17) at new NgModuleFactory (http://localhost:4200/v

[2021-05-14 09:44] #345 closed

[2021-05-14 10:41] ianthedev opened #346 "How to scroll a OverlayScrollbars area by using mousewheel on a non-OverlayScrollbars area?"
The [Capabilities Demo](https://kingsora.github.io/OverlayScrollbars/#!demos/capabilites) demonstrates a feature which allows you to scroll a non-OverlayScrollbars area by using mousewheel on a OverlayScrollbars area.

What I need is the other way around. I need to scroll a OverlayScrollbars area by using mousewheel on a non-OverlayScrollbars area. Is that possible?

[2021-05-14 16:07] Anam0927 opened #347 "Not working on body element on mobile"
**Describe the bug**
Custom scrollbar not visible in mobile browsers (tested on Chrome and Firefox) when on body element. It works when on any other element.

**Expected behavior**
Custom scrollbar should be visible on mobile too...

**Environment**
 - Used Operating System(s): Android
 - Used Browser(s) (with version): Chrome, Firefox

[2021-05-14 17:47] Anam0927 commented on #347
Never mind... Just had to make `nativeScrollbarsOverlaid`, `initialize` to `false`.

[code]

#287

[2021-05-14 17:47] #347 closed

[2021-05-17 02:56] StevRoger commented on #190
I didn't use the scrollbar, but I got the same issue.
![image](https://user-images.githubusercontent.com/55537405/118426781-14aca180-b6f6-11eb-8599-15b63821ecc7.png)

[2021-05-17 17:02] jhuseinovic commented on #190
same, and my angular is 8.2.14
![image](https://user-images.githubusercontent.com/8493886/118528182-f2d50e00-b739-11eb-9f54-82a0dca6a68f.png)

[2021-05-17 17:38] ianthedev opened #348 "Is $(window).resize() the only way to correct the horrizontal scrollbar's width?"
When my container is being initialized, it is in the hidden state (because of its [`hidden` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden)). After I removed the `hidden` attribute, the horizontal scrollbar's width is not correct. That's totally understandable.

My question is: Is `$(window).resize()` the only way to correct the horizontal scrollbar's width?

[2021-05-18 12:45] just-dont commented on #150
Hi @KingSora
I used your great library quite extensively in the past year, and about the only thing I think it's lacking at the moment - is the ability to separate user-generated scrolling from scrolling by calling scroll(). Currently either one generates a full set of events, callbacks, etc - virtually indistinguishable from each other in the code. This poses a problem in cases when you need to d

[2021-05-18 21:13] KingSora commented on #150
Good day @just-dont

Well, the problem here is that the `onScroll` callback is just a proxy for the native [scroll](https://developer.mozilla.org/en-US/docs/Web/API/Document/scroll_event) event. The scroll offset can change through very different mechanisms like:
- Changing it via real scrolling with you mouse or mobile device
- Chagining it via the `scroll` function (which only sets the [scrollLe

[2021-05-18 21:15] KingSora commented on #348
Good day @ianthedev

Is it possible for you to setup a minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/) for me? The library should be able to handle size changes..

[2021-05-18 21:21] KingSora commented on #346
Good day @ianthedev

Its definitely possible, listen to the scroll event on your non-OverlayScrollbars element, and set its scroll offset as the scroll offset of the OverlayScrollbars element: https://jsfiddle.net/pwd2hu3y/

[2021-05-19 13:32] lossen commented on #268
If anyone wants not only get position but change it use this
`        instance.scroll({ y : "100%"  })
`
In this example, it will scroll to bottom.

[2021-05-19 15:42] stephenjason89 commented on #268
@lossen Thank you, glad to know

[2021-05-21 14:46] ianthedev commented on #348
@KingSora My mistake. Actually it's not OverlayScrollbars' problem and is also not fixed by `$(window).resize()`.

[2021-05-21 14:46] #348 closed

[2021-05-21 15:08] #346 closed

[2021-05-23 15:38] 01Kuzma opened #349 "A shift of scrollbar during page load"
Hi!
Thank you for a great plugin!
I have a small problem, while the page is loading there is a small shift near the scrollbar.
Is it a bug or there are specific options to get rid of it?
I'm attaching a short video.
I'm using the `jQuery 1.13` version and load it within a Gantry 5 Framework for Grav CMS.
The init code comes before `</body>`:

[code]

Main CSS is loaded in body tag:
`<link href="..

[2021-05-23 17:16] KingSora commented on #349
Good day @01Kuzma!

The plugin needs some time to initialize, to me it seems that this shift is happening because the native scrollbar is visible for a short amount of time while the plugin initializes. You can try to set following styles:

[code]

So that you won't see the scrollbar even if the plugin is loading.

[2021-05-23 18:24] 01Kuzma commented on #349
Great, thank you!

[2021-05-23 18:24] #349 closed

[2021-05-24 10:56] metrocoding opened #350 "add support for react 17"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-27 14:30] amir2mi opened #352 "Problem when wrapper has absolute position"
Hi, thanks for trying to give the web users a better experience.
I am working with OverlayScrollbars, everything goes well when the wrapper has a relative position but for wrappers that have absolute ones like modals and popovers I could not use OverlayScrollbars.

https://user-images.githubusercontent.com/64708228/119843986-4a832e80-bf1d-11eb-9995-819a3005fa25.mp4

[2021-05-27 14:53] amir2mi commented on #352
Sorry. tested on another playground, there was no problem. so I close the issue.

[2021-05-27 14:53] #352 closed

[2021-05-27 17:23] 01Kuzma opened #353 "Back To Top functionality doesn't work with Scrollbars"
Hello!
There is a bug or configuration conflict.
My website theme has `Back To Top` button.
I'm using Gantry 5 Framework based on Grav CMS. Here is a [demo](http://demo.gantry.org/), how the `Back to top` function is made:

The problem is that on my website `Back To Top` doesn't work once `OverlayScrollbars` is loaded. Clicking on anchor makes nothing and there are no errors in the console.

I'm i

[2021-05-28 21:32] Anam0927 opened #356 "The bottom menubar on some browsers on mobile (like Safari) stays fixed when using OverlayScrollBars"
**Describe the bug**
The bottom tray or menubar that's present on some mobile browsers like Safari doesn't vanish while using the library. It remains fixed.

**Expected behavior**
Normally, the bottom bar would only appear when scrolling up and slide down and hide itself when scrolling down...

**Environment**
 - Used Operating System(s): iOS or android
 - Used Browser(s) (with version): Safari on

[2021-05-29 19:22] KingSora commented on #353
Good day @01Kuzma.

If you apply the plugin to your target, then it creates helper elements which have different responsibilities. One of the is the `viewport` element which is doing the actual scrolling. Currently your back to top button is changing the scroll offset of the `window / html / body` element, but because the plugin created its own element (`viewport`) for it, the button has to change

[2021-05-29 20:15] KingSora commented on #356
Good day @Anam0927.

Thats a quirk of the library itself (related to how it works) which can't be fixed without a breaking change. Thus this will be fixed with version `2.0`, but I can't do anything against it for now.

[2021-05-29 21:01] KingSora commented on #350
Well, the plugin supports `react 17`.. The peer Dependencies just need an update

[2021-05-30 07:47] 01Kuzma commented on #353
@KingSora thank you for your support!
Unfortunately, I'm not able to fix it...
I've change the `init` code to this:

[code]

and `Back to Top` still doesn't react...
I'm not sure, does it init properly...
![image](https://user-images.githubusercontent.com/569504/120096457-54cb4580-c134-11eb-9dec-2c8ebae928f9.png)

[2021-05-30 09:00] Anam0927 commented on #356
Oh, I see...
Will be awaiting the `2.0` version then... I don't want to change my awesome scrollbar to native just for this...
😃

[2021-05-30 09:00] #356 closed

[2021-06-04 12:23] jesec commented on #350
Indeed. It works with React 17 flawlessly.

However, due to the npm 7 behavior change on `peerDependencies`, we would have this error:

[code]

@KingSora Would you mind to release a new version that relaxes the peerDependency?

[2021-06-04 15:21] AgentSmith0 opened #357 "Focus on element with autofocus attribute gets lost after scrollbar init"
Hello.
When I initialize OverlayScrollbars the focus of my input element with autofocus attribute gets lost. I had to focus it via JavaScript manually after the initialization. Is there a way to prevent the autofocus lost?

[2021-06-04 19:07] KingSora commented on #357
Good day @AgentSmith0

To which element did you initialize OverlayScrollbars?

[2021-06-05 06:22] AgentSmith0 commented on #357
I assigned it to the body, maybe this it the problem?

[2021-06-05 13:18] 01Kuzma commented on #353
@KingSora any thoughts?

[2021-06-07 07:01] Anam0927 opened #359 ".sleep() not working on iPhone (iOS)"
**Describe the bug**
When the sleep function is called to stop scroll on mobile, it works on Android but scrolling still happens on iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Add overlay scrollbars to body and make it sleep on some action
2. Test it on iPhone

**Expected behavior**
The scrolling should stop on iOS also just like how it stops on Android

**Environment**
 - Used Oper

[2021-06-07 07:33] KingSora commented on #359
Good day @Anam0927!

What do you mean with "scrolling should stop"? The `sleep` function is here to stop the plugin from doing its updating logic, it has nothing to do with actual scrolling

[2021-06-07 07:36] KingSora commented on #357
@AgentSmith0 yeah, on body I'm indeed switchting focus because of some other issues in the past.. Unfortunately I don't have real fix for you.. you would have to switch the focus by yourself manually again:

[code]

[2021-06-07 07:40] KingSora commented on #353
@01Kuzma the code I wrote to you was not the entire code to fix the problem. It was just the code to get the `viewport` element, not the entire code... Did you write the code for the "back to top" button yourself or is it a plugin?

[2021-06-07 07:57] 01Kuzma commented on #353
@KingSora, understood. It's a plugin from the `Gantry 5` framework

[2021-06-07 07:58] KingSora commented on #353
@01Kuzma I could write you a simple back to top function which you can assign to your buttons `click` event if you like

[2021-06-07 08:00] 01Kuzma commented on #353
@KingSora that would be awesome 👍

[2021-06-07 08:16] Anam0927 commented on #359
Oh, I thought sleep stopped the scroll since it's written in the docs that it won't react to touch or mouse events

In any case, using sleep does stop the scroll on Android tho...

[2021-06-07 08:38] KingSora commented on #359
In the documentation I'm relating to mouse or touch events of the `scrollbars`.. So if you try move a scrollbar handle, it won't work.. but since the plugin just hides the native scrollbars and keeps native functionality, scrolling will be always possible if `overflow` is present and the `overflowBehavior` option is set to `scroll`.

You can probably achieve what you want (user can't scroll anymor

[2021-06-07 08:46] KingSora commented on #353
[code]

[2021-06-07 12:29] AgentSmith0 commented on #357
I made already a workaround like yours. Anyway, thank you for your help!

[2021-06-07 12:29] #357 closed

[2021-06-07 13:40] 01Kuzma commented on #353
@KingSora thahk you!
I've added the `onclick="backToTopBtnClick();"` event to link, everything works just fine 👍

[2021-06-07 13:40] #353 closed

[2021-06-07 14:09] #323 closed

[2021-06-07 14:56] 7dhrumil opened #360 "Chrome occupying the space of default hidden native scrollbar."
Hello First of all Thank you so much for this awesome scrollbar,

I have tried to update the latest version of the OverlaysScrollbars and I found that It is adding some space at right side of the window for the chrome browser version 91.0.4472.7
Here I have attached the screenshots.

![image](https://user-images.githubusercontent.com/41570499/121038755-2998c400-c7ce-11eb-88a9-cc268200ccc0.png)

I

[2021-06-08 08:12] KingSora commented on #360
Good day @7dhrumil

OverlayScrollbars is doing a detection what type of scrollbars the browser is using. In your case it detected already overlaid scrollbars.. May I ask what is your Operating System? Do you set some kind of scrollbar styling to the whole page (css classes etc.) which could override the styles of the plugin?

[2021-06-08 08:53] 7dhrumil commented on #360
I am using windows OS to browse my site. And No, I am not using any kind of scrollbar styling to the whole page. And I have also checked some of your comments and I have put OverlayScrollbars CSS on top of all other CSS.

And This is only happening on the Server specifically for Chrome otherwise in my local is working fine. And Just curious about why it has an issue in Chrome Browser only?

[2021-06-08 10:48] KingSora commented on #360
@7dhrumil do you mind sharing your page with me? If you don't want to post it publicly you can send me an email to the mail you can find on my profile. Since I have windows aswell, I should be able to reproduce it.

[2021-06-09 05:45] xeoneux opened #362 "Reduce the humongous size of the library"
**Is your feature request related to a problem? Please describe.**
I used this library in my project simply to move away from default scrollbars on windows. After adding it, I see that this is the largest library in my whole application which has more than 20 deps!

**Describe the solution you'd like**
Is there any way to reduce the library size or maybe I'm doing something wrong? Is this a known

[2021-06-09 06:26] 7dhrumil commented on #360
Hi @KingSora , I have sent you a mail where I have provided you credential of my site where ti is happening. Let me know if you need anything else.

[2021-06-09 07:04] KingSora commented on #362
Good day @xeoneux

There was a similar issue in the past (#55) where I described a little bit the sturcture of the library etc. and why it is currently as big as it is. This won't change until `v2` is released, because it would require a whole rewrite (which I'm doing for `v2` anyway). I'm planning to release version 2 at the end of the year.

[2021-06-09 07:40] KingSora commented on #360
@7dhrumil I've taken a look and its kinda weird. I've found the reason of why this is happening:
As I explained in my first post, the plugin is doing some checking to analyze the environment it is operating in, and it needs CSS for that. The weird part is, that Firefox has loaded all the styles but Chrome has not.

Chrome:
![grafik](https://user-images.githubusercontent.com/12936317/121313024-46d0

[2021-06-09 07:46] KingSora commented on #360
I've also found the reason behind the CSS loading.
In chrome the stylesheet is loaded like:
![grafik](https://user-images.githubusercontent.com/12936317/121314232-703e0980-c907-11eb-9c3a-30782b4d1e3b.png)
vs Firefox:
![grafik](https://user-images.githubusercontent.com/12936317/121314285-7d5af880-c907-11eb-9e28-8ae1b28a2d0f.png)

If I change the `media="print"` to `media="all"` in chrome, then its

[2021-06-11 06:05] ooo2003003v2 opened #363 "[React Nested scrollbars] Child component width doesnt perform right"
Hello there.
I'm having trouble making a nested scrollbars with flex box react table with fix header. But the horizontal scroll for the table body doesnt has the size with the parent element. Any idea of how to fix it?
![image](https://user-images.githubusercontent.com/55082067/121638043-e899fb80-cabc-11eb-845d-d6e842b62a61.png)

[code]

[2021-06-11 07:23] 7dhrumil commented on #360
Hi @KingSora ,
Thank you so much for your findings!!!.
After your finding, I have analyzed some more and Found that the Issue was due to the Angular Version 12. They have introduced something in the compiler that is adding some code from CSS or JS file inline in HTML which is critical and other CSS or js has to wait for that downloading and they are not taking whole CSS or js but the bunch of the

[2021-06-11 07:23] #360 closed

[2021-06-11 09:54] KingSora commented on #363
Good day @ooo2003003v2

Can you share a minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/) with me? Like this can't really help you.

[2021-06-14 18:08] KingSora commented on #360
I'm happy everything working now! :)

[2021-06-16 14:49] #359 closed

[2021-06-19 11:03] KES777 opened #365 "Provide demo images"
Can not understand what your project does.

It would be nice to see demo images

Thank you

[2021-06-19 22:07] KingSora commented on #363
@ooo2003003v2 any feedback here?

[2021-06-24 04:41] pochern opened #368 "Overlay-scrollbars list jumps to shorter height in bootstrap-vue popover"
**Describe the bug**
Using overlay-scrollbars inside a bootstrap-vue popover (https://bootstrap-vue.org/docs/components/popover) is causing the overlay-scrollbars list to hide before the popover hides. This causes the list to jump shorter right before the popover closes. Is there a way to show the overlay-scrollbars list at the same height until the popover closes? (To avoid the height jump)

**To

[2021-06-24 21:02] KingSora commented on #368
Good day @pochern

I don't know how the popover is handled but the plugin is destroying in the `beforeDestroy` method (like intended).. Is there any other possibility to destroy it - maybe in a different lifecycle method? (Not an expert in Vue)

[2021-06-24 22:50] pochern commented on #368
Thank you so much for your response.

Is this referring to the overlay-scrollbars?

[2021-06-25 07:32] KingSora commented on #368
Yes.. it seems like the popover is doing some animation/transition before it gets completely destroyed, but the `beforeDestroy` lifecycle method is called before that

[2021-06-25 09:41] ooo2003003v2 commented on #363
I've fix that by controling the width css with checking if the window width is smaller than tbody width.

[2021-06-25 09:41] #363 closed

[2021-06-28 12:03] glassesUSA opened #369 "Smooth scrolling"
Hi,

I am trying to add `scroll-behavior: smooth` to the element so when an inner target is clicked it will scroll smoothly down but it doesnt appear to be working. Which element does the style need to be applied to?

[2021-06-28 12:29] KingSora commented on #369
Good day @glassesUSA

The `viewport` element is doing the scrolling, so the selector should be something like this:
[code]

[2021-06-28 12:29] glassesUSA commented on #369
Thank you!

[2021-06-28 12:33] glassesUSA commented on #369
When adding that, I need to double click on my buttons to make it move to the page position... Is this a react issue?

[2021-06-28 12:45] KingSora commented on #369
@glassesUSA does this also happen if you simply switch the `OverlayScrollbars` component with a `div` which has the same stylings applied?

[2021-06-28 12:47] glassesUSA commented on #369
No its only with OverlayScrollbars

[2021-06-28 12:50] KingSora commented on #369
In this case, could you create a minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/)? I can take a look as soon as I have time. Please also tell me your operating system.

[2021-06-29 08:35] glassesUSA opened #370 "Height not updating..."
![image](https://user-images.githubusercontent.com/76479522/123765116-19a46980-d8ce-11eb-9bea-8e7bc2b3aec5.png)

For some reason this height is not updating to be the height of the window causing scroll where I do not want

[2021-06-29 08:44] KingSora commented on #370
Good day @glassesUSA

Can you provide a a minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/)? Otherwise I can't really help you.

[2021-06-29 10:33] glassesUSA commented on #370
Apologies the issue was in my end

[2021-06-29 10:33] #370 closed

[2021-06-30 16:50] #350 closed

[2021-07-01 08:05] Erinov opened #375 "Select2 + OverlayScrollbars. Sometimes scroll doesn't work"
*reproduce*
You need to scroll a little, then move the cursor a little. After that, the scroll wheel works only downward. And if you pull the carriage, then everything works fine.

https://jsfiddle.net/Erinov/yr5qhue4/

[2021-07-01 08:24] KingSora commented on #375
Good day @Erinov

It seems the problem here is that `Select2` is creating some custom `mousewheel` events which are preventing scrolling in some cases.

![grafik](https://user-images.githubusercontent.com/12936317/124091604-4f745a00-da56-11eb-9c51-4b7a0496f0ab.png)

You could try to disable them at the risk of loosing some functionality of that library. Unfortunately OverlayScrollbars `v1` offers

[2021-07-01 10:37] Erinov commented on #375
Thank you, @KingSora, for pointing me on the right path to solve this issue.

I don't need `mousewheel` events on `Select2`, and after `unbind` this, it works fine.

[2021-07-01 10:37] #375 closed

[2021-07-04 17:25] Ahmed-Hafez commented on #190
I have the same issue and it happens when serving the initial project files. No new modules was added, No packages was installed. I did not know the source of the issue.

[2021-07-06 16:32] Rajdeep97 commented on #307
@KiddoV Why do you want to support a browser that's dead?

[2021-07-06 16:38] KiddoV commented on #307
I wish I can get rid of IE11 man, I really do. Unfortunately for me, some of my projects still need the Trident engine from IE to run.

[2021-07-07 11:33] glassesUSA opened #376 "Refresh on swipe down"
When this is applied on mobile I am unable to swipe down to refresh the page... Is there a way to fix this?

[2021-07-12 20:26] tryggvigy opened #377 "Detached HTMLImageElement Memory Leak"
**Describe the bug**
It seems OverlayScrollbars accumulates references to HTMLImageElements over time that do not get cleaned up when the images no longer exist in the DOM. https://github.com/KingSora/OverlayScrollbars/blob/master/js/OverlayScrollbars.js#L4120

**To Reproduce**
Steps to reproduce the behavior:
In a long virtually scrolled list that contains images:

![image](https://user-images.gi

[2021-07-13 08:49] KingSora commented on #376
Good day @glassesUSA!

This is a restriction of `v1` but should be possible in `v2`.

[2021-07-13 08:51] KingSora commented on #377
Good day @tryggvigy!

I realized that too as I reworked that in `v2` but thought that this might not be an issue in reality.. Seems like I was wrong 😄.
I'll try my best to fix it asap. Do you mind creating an minimal example somehwere so I'm not left with just my gutfeeling?

[2021-07-13 15:39] glassesUSA opened #378 "What am I doing wrong?"
https://optimaxdev.github.io/optimaxeyewear/team/

When I click on the button to scroll the page down, the top content is hidden and the height it takes up is now pushed to the bottom. Is this from your plugin?

[2021-07-13 15:50] #378 closed

[2021-07-13 16:49] FuadEsgerov commented on #190
@Ahmed-Hafez can you find any solution?

[2021-07-13 20:26] Ahmed-Hafez commented on #190
@FuadEsgerov Unfortunately no, but a temporary solution can be made by uninstalling node modules and reinstalling them. If not solved, replacing the project files into another folder which might solve the issue temporarily. But as I told this is temporary solution and the issue almost will raise again after some time.

[2021-07-16 09:53] johnjackson commented on #190
rm -rf node_modules
npm install

[2021-07-17 17:53] KingSora commented on #377
@tryggvigy I believe I've fixed the issue, can you confirm it?
Here is an updated Sandbox: https://codesandbox.io/s/overlayscrollbars-memory-leak-forked-3gu4r?file=/src/index.js

[2021-07-20 15:07] pipech opened #379 "Simpler react example"
**Describe the solution you'd like**
I would like a clearer and simplify version of React example.

[The one that's provided is too complicate](https://github.com/KingSora/OverlayScrollbars/blob/9fe03d0cdfb92ce4fbf7675c537adf0601b70ebc/packages/overlayscrollbars-react/example/src/App.tsx#L143) to highlight what's essential to get it to work.

When I try to use it I have a hard time trying to under

[2021-07-20 15:20] #379 closed

[2021-07-23 10:54] yarostbaklajana opened #380 "scroll()'s complete() callback invoked earlier then scroll finishes"
**Description:**

When using like _baseElement.scroll(0, 50, undefined, () => {  // invoked earlier });

*I suppose the reason of it is `refreshScrollbarHandleOffset()` method which is called within scroll() implementation right before the `complete()` callback invocation without waiting. Within the `refreshScrollbarHandleOffset()` there is hardcoded transition duration 250ms for the css transitio

[2021-07-28 18:06] KingSora commented on #377
@tryggvigy should I wait for your feedback or is an blind update also fine for you? 😄

[2021-07-28 18:37] tryggvigy commented on #377
Sorry @KingSora! I've been on summer vacation, I'll take a look this week to verify. Feel free to merge regardless of course! Thanks for taking a look at this!

[2021-07-29 21:42] SuperiorJT commented on #284
Would there be any side effects by making this workaround be the default behavior? For my case, I used this selector to make the change only when there is an overflow:

`.os-host-overflow-y > .os-padding > .os-viewport > .os-content`

 Seems like it would be worth considering, but I'm not sure if doing so would break it in other areas.

[2021-08-01 17:47] graphicfox commented on #220
Another quick hack is to give the component a key to let it rerender on mounted:

`
    <overlay-scrollbars :key="scroll" :options="{ scrollbars: { autoHide: 'scroll' } }">
CODE HERE
    </overlay-scrollbars>`

`  mounted()
  {
    this.$nextTick(() => {
      this.scroll++;
    });
  }`

[2021-08-02 19:07] KingSora commented on #377
@tryggvigy no worries, I'll wait for your feedback.. I guess we aren't in a rush with this

[2021-08-02 19:10] KingSora commented on #380
Good day @yarostbaklajana

Hmm I'm not quite sure if I'm understanding the problem.. since you defined a `50ms` duration, how do you know the `callback` completed earlier? Do you mind creating an minimal example on [JSFiddle](https://jsfiddle.net/), [CodeSandbox](https://codesandbox.io/) or [StackBlitz](https://stackblitz.com/) where you demonstrate the issue?

[2021-08-07 15:46] tryggvigy commented on #377
@KingSora I haven't had time to check on this properly! The codesandbox looks good though. A blind update is fine by me!

[2021-08-19 11:46] joulev opened #389 "jQuery's .on("scroll") doesn't work with overlayScrollbars enabled"
**Describe the bug**
When overlay scrollbar is enabled, jQuery's `.on("scroll")` no longer works. I very probably missed something in the documentation...

**To Reproduce**
Steps to reproduce the behavior:
1. Enable overlay scrollbar
2. Try some actions at scroll event
3. The actions will not be triggered on scroll. If I comment out the `overlayScrollbars` initialisation line, the actions works fi

[2021-08-20 13:49] glen-84 opened #390 "Add support for Vue.js 3"
**Is your feature request related to a problem? Please describe.**
The library doesn't appear to support Vue.js 3 (based on the peer dependencies, at least).

**Describe the solution you'd like**
Add support for Vue.js 3.

**Describe alternatives you've considered**
Using the base library, and writing my own component/directive.

**Additional context**

(unrelated: Looking forward to a lighter-wei

[2021-08-20 17:46] sri5099 commented on #190
its from lib.es5.d.ts  line number 1340

[2021-08-24 10:47] glassesUSA commented on #376
Is there an eta on v2?

[2021-08-24 11:17] KingSora commented on #376
@glassesUSA I planned to finish it this year..

[2021-08-31 07:22] KingSora commented on #390
@glen-84
Good day!

As far as I know Vue3 has still the same API as Vue2, so in theory it should work.
I'll take a deeper look as soon as I have time!

[2021-09-01 13:07] DennisvanBeelen commented on #389
I am fairly sure Listerners in general are broken, The @scrolled in vue is also not functioning.

[2021-09-02 07:31] KingSora commented on #389
Good day @joulev

OverlayScrollbars is adding new elements to the DOM, this causes your target element to not be the scrolling element anymore. Instead its the first `.os-viewport` element following in the DOM tree. There are multiple ways to get this element:

[code]

[2021-09-05 09:01] glen-84 commented on #390
I'm not sure, but at a minimum, the peer dependency would need to be updated.

I created a simple component for now:

[code]

[2021-09-08 07:42] df257 opened #393 "In Vue3, cannot read property 'extend' of undefined"
![image](https://user-images.githubusercontent.com/7835444/132467006-128723cb-a97e-4e4a-8c4f-ba05d2028bc5.png)

[2021-09-10 04:09] baberMatt opened #394 "Using react component, all wrapped elements not displaying"
Initiated based on example, all though using react hooks. Included a useRef and save the very first time I loaded the component (where it did render and I saw the scroll bars and they looked great) the elements and all the appropriate classes from the plugin appear in the DOM tree when you inspect, and they even appear to take up space when highlighted by the element selector. In the viewport thou

[2021-09-10 19:01] doutatsu commented on #390
Bump for this. Trying to use the library with vue3 throws:
`The requested module '/node_modules/overlayscrollbars/js/OverlayScrollbars.js' does not provide an export named 'default'`

[2021-09-10 19:09] #394 closed

[2021-09-10 19:11] baberMatt commented on #394
Included style attribute of height and width to the component and content became visible. Nothing in docs mentions manually adjusting sizing.

[2021-09-26 16:35] asross opened #397 "Improve performance of library"
**Is your feature request related to a problem? Please describe.**
When I invoke OverlayScrollbars on a large selection of elements, it takes an _extremely_ long time to run for all of them (like up to a full minute for ~100 elements), and prevents the app from being usable. To solve this, I've ended up replacing my previous code:

[code]

with the following hacky approach:

[code]

It would be gr

[2021-10-04 03:09] AnhTuan-AiT opened #398 "How to integrate infinite scroll feature with OverlayScrollbars"
Hi, thanks for this useful tool. I'm trying to integrate infinite scroll feature using the library **react-infinite-scroller** or **react-infinite-scroll-component**. I searched but didn't find any information on how to integrate, I also tried to integrate but no success. Can you guide me how to do that?

[2021-10-13 05:50] rahee554 opened #401 "Overlay is not supporting another overlay (Toggl Aside menu) not working"
I found this bug when i used this in my HTML code, when i zoomed in or use the page in MOBILE, the Aside menu is hidden by default in mobile mode,  when i click to toggl the aside menu,, the screen overlays with a light transparent black color, and nothings clickable at this time,,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Responsive resize
2. Click on 3 dots, to open aside menu

[2021-10-16 02:41] AnhTuan-AiT commented on #398
Thank @JasonasIgn for your suggestion. I tried this but it still not work as expected. Here is my sample sandbox: https://codesandbox.io/embed/festive-dubinsky-t1948?fontsize=14&hidenavigation=1&theme=dark

[2021-10-16 15:54] #398 closed

[2021-10-19 00:02] hallzy opened #402 "Shadow-Dom Support"
**Is your feature request related to a problem? Please describe.**

We are developing something that uses a shadow dom, but it seems like this project doesn't work fully inside of a shadow dom.

If I understand the code correctly, chrome on desktop shouldn't have a 30px `border-right` and `right` on 2 of the os content wrappers, but that is what we see inside of the shadow dom, so at the very leas

[2021-11-03 23:33] idiotWu commented on #311
You can use [actions](https://svelte.dev/tutorial/actions) to do this:

[code]

[code]

Online demo: https://svelte.dev/repl/a6dce67002354a8a9fc99b1b3e51609e?version=3.44.1

[2021-11-04 10:46] usercao commented on #150
Why do I see that the V2 branch is not developed with typescript?

[2021-11-04 13:03] KingSora commented on #150
@usercao what do you mean, its basically 100% typescript 😅

[2021-11-04 13:09] usercao commented on #150
![image](https://user-images.githubusercontent.com/13760476/140318905-1cded0b3-611b-4d24-aaee-730e0b2b7631.png)
Sorry, I read it wrong. I didn't click in to see the core part.

[2021-11-04 13:11] usercao commented on #150
![image](https://user-images.githubusercontent.com/13760476/140318905-1cded0b3-611b-4d24-aaee-730e0b2b7631.png)
Sorry, I read it wrong. I didn't click in to see the core part.

[2021-11-09 09:51] ZoltanDobrovolni commented on #377
Hi @KingSora
Is there any update regarding this issue?
(I am tracking a memory leak as well, and see the OverlayScrollbars name plenty of time in Snapshots. So would be great if I could check it again after this bug is fixed)
Thank you in advance!

[2021-11-09 19:47] tryggvigy commented on #377
@ZoltanDobrovolni if you pass  `updateOnLoad: null` in the options, do you still see `OverlayScrollbars` a lot in the snapshots?

[2021-11-10 07:37] ZoltanDobrovolni commented on #377
@tryggvigy
Yes, I still can see the `OverlayScrollbars` in the Retainers
![image](https://user-images.githubusercontent.com/39996317/141067010-988f5881-a599-473d-abfb-bcbe45e0e3cc.png)
In the picture above, `update` and `_base.addExt` methods are the "key players".

![image](https://user-images.githubusercontent.com/39996317/141068291-e04529ce-14be-495f-ada8-8a69a62c913e.png)
In the picture above,

[2021-11-26 17:51] Eric24 commented on #321
@KingSora - Any updates on this? The side-effect of always scrolling to the end/bottom happens in non-iframe implementations, too.

[2021-11-29 02:43] ianthedev opened #403 "Flickers or height changes/restores noticeably when used with jQuery UI Accordion"
**Describe the bug**
When jQuery UI accordion contents expand/collapse, there are two weird behaviors:
- When the height of the scrollable area is larger than the accordion and the scrollbar isn't visible at the beginning, the scrollbar flickers between visible and invisible states on the activation of accordion contents.
- When the height of the scrollbar area is smaller than the accordion and th

[2021-11-29 03:39] Eric24 opened #404 "Ability to adjust spacing between scrollbar and edge of scrollable area"
**Is your feature request related to a problem? Please describe.**
For fine control over layouts, it is often desirable to adjust the default spacing between the scrollbar and the edge of the scrollable area. This can be done today using a class, but that isn't convenient when the layout is code-driven.

**Describe the solution you'd like**
Ideally, the scrollbar would accept an optional property

[2021-12-15 05:54] igdev116 opened #406 "ReferenceError: me is not defined"
When I build product with Next Js, an error is occurred but during development nothing happens 😢
[code]

[2022-01-11 14:59] lazuee commented on #90
I get **ResizeObserver loop limit exceeded** issue when i add flexbox css to the parent of the div child that i used for a slider image. Can someone tell me how do i fix it? I used "Swiper" btw.

~~> https://swiperjs.com/

[2022-01-17 08:17] cypressious opened #413 "Angular Ivy distribution"
When building my project with Angular 13, I'm getting the following output:

[code]

[2022-01-26 19:09] iolyd opened #417 "Unexpected behavior with `form` and `fieldset` elements"
**Describe the bug**
Applying OverlayScrolls to a `form` element containing `fieldset`s transfers the scroll handling to the children `fieldset` elements, as in it creates unwarranted instances for each `fieldset` rather than for the container `form`.
Is this expected due to some particular handling of forms by vendors?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `form` element

[2022-01-31 22:58] tamimaj commented on #406
Same here!
Did you find the cause?

[2022-02-02 13:07] sbkl commented on #398
Giving an id to the OverlayScrollbar component and targeting the children ".os-viewport" of that element works for me.

`scrollableTarget={document.getElementById("target-sidebar")?.querySelector(".os-viewport")}`

Also made sure the dataLength prop was the length of the current data fetched. Not the total data to pull from. Wasn't clear from the docs.

Below the code:

[code]

[2022-02-03 20:25] wargniy opened #418 "[React] Scrollbar doesn't appear when the height is not specified statically (ex: height : auto)"
Hi ! Thank you for your work on OverlayScrollbars.

[REACT]
**Describe the bug**
When I use the scrollbar on a div wrapped with a height dynamically computed (css property _height : auto_)
The scrollbar doesn't appear at all.
Moreover, If I use _display: flex_ on the div wrapped by the scrollbar, the scrollbar appears and takes full heigt of content + few pixels. but doesn't scroll as expected.

*

[2022-02-14 07:38] kimyuil opened #424 "os-content-glue height behaves strangely with flex box"
**Describe the bug**
os-content-glue height behaves strangely with flex box.

**To Reproduce**
1. make flex box to make horizontal scrollable box
2. make flex items with "style = 'flex : none'"
3. os-content-glue makes design strangely

I read guide about flex box (https://kingsora.github.io/OverlayScrollbars/#!documentation/flexbox)
but it dosen't work.
what am i missing?
Thank you for checking i

[2022-02-16 08:48] KingSora commented on #424
Good day @kimyuil :)
In your fiddle your forgot to import the CSS file. I've created an updated version: https://jsfiddle.net/0t786efb/ with the CSS file in the ressources

[2022-02-16 10:01] filipjakobsen opened #425 "iOS default scroll-to-top behavior seems to not work"
**Describe the bug**
When tapping the top 40px of the screen in an app on iOS, the open app will scroll to the top. When doing this on a site I am making using overlayScrollbars, it seems like it does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Open a page using overlayScrollbars on an iOS device
2. Scroll down on the page
2. Tap the center of the very top of the screen (the top

[2022-02-17 01:52] kimyuil commented on #424
Thanks for checking @KingSora  :)
It is so weird that the way jsfiddle works and the way my vscode works are different.
I copied the code you wrote in jsfiddle and moved it to my vscode and run as liveserver extension.
But It looks like the Examples that I wrote above. ( https://jsfiddle.net/only61/3qumg5ea/4/ )

This is my source code modified through your code wrote in jsfiddle.

`<!DOCTYPE html

[2022-02-17 08:05] KingSora commented on #424
@kimyuil please import / use the CSS file which comes with OverlayScrollbars

[2022-02-17 12:34] kimyuil commented on #424
It works! Thank you for the reply.

[2022-02-17 12:34] #424 closed

[2022-02-18 08:41] JasperPan commented on #150
Good day! @KingSora

[2022-02-18 08:41] JasperPan commented on #150
Good day! @KingSora

[2022-02-18 08:46] JasperPan commented on #150
Good day! @KingSora
Thank you for maintaining this great library!
I wonder if there is any document about v2.0? I'm using v1.13 in a new project which will build soon and wanna replace it with v2.0.
Thanks again!

[2022-03-07 21:56] doutatsu commented on #390
Another bump on this - things have been quiet for a long time now. And Vue 3 is the default now, so sounds like it's about time to make this a higher priority?

[2022-03-09 09:27] partha-0103 commented on #148
is this working?

[2022-03-09 09:29] partha-0103 commented on #148
@joa-queen please check this [sandbox](https://codesandbox.io/s/affectionate-wescoff-vdhbph?file=/src/App.js)

[2022-03-20 05:32] NWaterbury opened #430 "Emit events from vue component"
As a developer I would like the ability to listen for the event handlers supported by the overlay scrollbars plugin when using the vue component, such as scroll events.

Please update the vue component to emit the events

[2022-03-21 06:40] cjnarvaez22 commented on #390
+1 for vue 3 support

[2022-03-28 23:13] Darthagnon opened #432 "Incompatible with hugo-easy-gallery"
**Describe the bug**
When used concurrently with [Hugo Easy Gallery](https://github.com/liwenyip/hugo-easy-gallery/) in a [Hugo](https://gohugo.io/) site, scroll position on the page will be reset after viewing an image.

**Expected behavior**
Open an image in Hugo Easy Gallery, then close it, and your scroll position should be remembered.

**Examples**
[Example site with the bug](https://github.c

[2022-04-06 06:06] discosultan opened #433 "Support React 18"
React 18 is out but the OverlayScrollbars React wrapper only supports React versions 16 and 17 as seen [here](https://github.com/KingSora/OverlayScrollbars/blob/1531dc6bfcdd75849ec65e38d89bdce8ba81e333/packages/overlayscrollbars-react/package.json#L42).

[2022-04-06 10:52] Darthagnon commented on #432
I was also wondering how I could go about removing OverlayScrollbars from my site, as a temporary workaround for this incompatibility. However, removing it via a conditional statement in my site's [config.toml](https://github.com/Darthagnon/hugo-theme-dream/blob/master/exampleSite/config.toml) (and requisite edits in [the site's theme code](https://github.com/Darthagnon/hugo-theme-dream)) to disab

[2022-04-06 12:13] christophe-glanum opened #434 "onInitializationWithdrawn callback doesn't work."
**Describe the bug**
onInitializationWithdrawn callback  doesn't work.

**To Reproduce**
I use **nativeScrollbarsOverlaid : { initialize : false }.** and the callback onInitializationWithdrawn doesn't work.

[2022-04-12 00:52] arifineu commented on #390
any updates for Vue 3 support?

[2022-04-17 14:12] doutatsu commented on #150
Curious if there has been any progress on the v2.0.0?

[2022-04-19 02:49] ududsha commented on #433
I raised a PR for this https://github.com/KingSora/OverlayScrollbars/pull/435

[2022-04-19 14:25] silverik commented on #146
Hi @KingSora and thanks for your work. I've tried your workaround and my textarea lost the ability to expand/transform (is no more visible the classic corner in the bottom-right). Is it normal? Is now available something stable for react?
Thanks

[2022-04-19 16:18] KingSora commented on #433
Good day :)
I'm on vacation right now.. I'll take a look as soon as I am back and have time. Thanks for the PR!

[2022-04-21 04:10] LeonGus commented on #329
I had the same problem， demo（https://jsfiddle.net/leon0613/knx1s6ag/22/）
Operation path ->  Click the (hide, scroll, show) button -> Click the (scroll x+=20) button -> Click the  (hide, scroll, show) button to display the dom -> Click the (scroll x+=20) button; At this time, the scroll method has failed.

[2022-04-21 14:42] kulism opened #436 "The scrollbar gets unnecessarily applied when the max-content width is used"
**Describe the bug**
The scrollbar gets unnecessarily applied when the max-content width of the container is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a div element and apply the width and max-width with CSS (see examples section). Mind div height is not limited.
2. Populate the div with some content.

**Expected behavior**
No scrollbar should be added/visible.

**Examples

[2022-04-29 00:21] conrad-scherb opened #439 "Auto scroll when near the edge while dragging an element"
**Is your feature request related to a problem? Please describe.**
Native scrollbar behaviour causes a scroll when at the edges of the scrollbar, scrolling down while an element is currently being dragged. This feature however doesn't seem to be supported based on the documentation.

**Describe the solution you'd like**
An implementation of this feature in OverlayScrollbars.

[2022-05-10 09:31] KingSora commented on #434
Good day @christophe-glanum
Can you please create an minimal example on jsfiddle, codesanbox or somewhere else where I can review it? :)

[2022-05-11 09:39] radiorz opened #440 "[question] is voerlayscrollbar support vue3?"

[2022-05-11 10:06] ddenev commented on #390
No, it doesn't. Importing immediately fails because in `OverlayScrollbarsComponent.vue` you have:
[code]
and this import no longer is valid in Vue 3.

Could you please share your plans on adding Vue 3 support as I need to make a decision on using this lib?

Thank you.

[2022-05-11 18:38] KingSora commented on #390
@ddenev I'll try to release a vue3 version soon :)

[2022-05-11 18:38] KingSora commented on #440
good day @radiorz
not yet, no.. i'll provide it soon though

[2022-05-12 02:31] radiorz commented on #440
Thanks. when the vue3 version comes, I will try first!

[2022-05-18 07:35] plashenkov commented on #440
Yup, I'm waiting for it too.

[2022-05-23 10:25] Rusl10 opened #441 "Build project error"
Hello.
Can you help to fix this bug?
![MicrosoftTeams-image](https://user-images.githubusercontent.com/26712091/169796993-1e2377b9-c8c3-4a23-b4ff-80ff22a36522.png)
Locally everything works well but when i try to build my project with the library i get this error.

[2022-05-23 11:29] PratkinV commented on #439
I tried in Chrome and scroll starts when you drag an item to the edge of the container, however in Firefox it doesn't work for some reason.

[2022-05-23 17:25] atgote opened #442 "Angular 13 directive"
**Is your feature request related to a problem? Please describe.**
It is not possible (AFAIK) to use the Angular component with \<cdk-virtual-scroll-viewport\> or for any other custom container.

**Describe the solution you'd like**
A directive named 'overlayScrollbar' applicable with all possible options to any HTML element.

**Describe alternatives you've considered**
I've tried to create \<over

[2022-05-24 19:55] #441 closed

[2022-05-30 09:26] joulev commented on #433
Hi, just want to know what is the progress of this?

[2022-05-31 11:49] KarolBuchta commented on #273
Hi - thank you for your great plugin and spending so much time on it.

I have a comment that goes into a similar direction:

I have added your plugin into an application - and figured out after a while that in Chrome and other webkit browsers the function, that an URL-Hash usually has (scrolling to the container with the respective ID), does not work anymore.

I use your plugin for elements inside

[2022-06-01 07:58] ErmiasF commented on #390
@KingSora have you done?

[2022-06-01 10:52] KingSora commented on #390
I've pushed the changes to github but haven't released them yet. After fine tuning I'll release `v0.3.0` of the plugin which has vue3 support. In the next days it should be done

[2022-06-01 13:12] KingSora commented on #434
This should be fixed in version `1.13.2` :)

[2022-06-01 13:12] #434 closed

[2022-06-01 13:12] #377 closed

[2022-06-01 13:13] KingSora commented on #390
I've release `overlayscrollbars-vue` version `0.3.0` which has vue3 support.

[2022-06-01 13:13] #390 closed

[2022-06-01 13:13] KingSora commented on #440
I've release `overlayscrollbars-vue` version `0.3.0` which has vue3 support.

[2022-06-01 13:13] KingSora commented on #433
I've released `overlayscrollbars-react` version `0.3.0` which has react 18 support.

[2022-06-01 14:10] radiorz commented on #440
it works good to me.
![image](https://user-images.githubusercontent.com/24271959/171424878-9193932c-effc-460a-8b47-f04adff6bb3e.png)

[2022-06-01 19:53] plashenkov opened #445 "Allow to smooth scroll any element, not only OverlayScrollbars instance"
Hi!

We already have the `instance.scroll()` method, but what if we want to scroll smoothly any scrollable HTML element, not necessarily customized with OverlayScrollbars?

Sure, we have native `element.scrollTo({top: 100, behavior: 'smooth'})`, but it doesn't allow us to controll scroll duration (it differs depending on scroll distance).

There are also other packages which allow us to do this. B

[2022-06-03 20:51] nfmshow commented on #148
@partha-0103 wrap the scrollbar children with a div with fixed height.

`<OverlayScrollbarsComponent
      options={options}
      ref={ofRef}

     <div style={{ maxHeight: "100px" }}>
      {children}
     </div>
   </OverlayScrollbarsComponent>`

[2022-06-15 09:41] fmirjalili opened #448 "Uncaught SyntaxError: invalid arrow-function arguments"
I have this error _Uncaught SyntaxError: invalid arrow-function arguments (parentheses around the arrow-function may help)_ in
`let li=n=21=>crypto.getRandomValues(new Uint8Array(n)).reduce()`;
I cant Find where the error comes.
Please help how can i resolve it.

[2022-06-15 20:24] KingSora commented on #448
Good day @fmirjalili
I believe this error isn't coming from `OverlayScrollbars` as the library isn't doing anything with `crypto` and `Uint8Array`.

[2022-06-24 10:38] AlmaFenetre commented on #390
Re-open, our application still uses Vue2 and this new minor version is not compliant with Vue2. Minor version changes are committed to our application automatically, so this update breaks the application. This version should have been released as a major version change since it contains breaking changes.

[2022-06-24 10:57] bobvandevijver commented on #390
@AlmaFenetre  [Major version zero (0.y.z) is for initial development. Anything MAY change at any time. The public API SHOULD NOT be considered stable.](https://semver.org/#spec-item-4)

I believe your automated tool needs some adjustments...

[2022-06-28 07:44] AlmaFenetre commented on #390
Thanks for your reply, I will make sure no automatic minor updates are done for this package.

[2022-07-07 22:18] danylo-holovenko opened #449 "[React] Flex-basis property not working"
**Describe the bug**
Is there any way to make flex-basis work when `<OverlayScrollbarComponent>` is wrapped with it without setting `sizeAutoCapable: false`?
In [this example](https://codesandbox.io/s/purple-https-sct1n5?file=/src/styles.css) you can see that I wrapped 2 components into a `flex-basis` property set to 50% each, but content width was miscalculated, you can see this by looking at the

[2022-07-08 22:46] KingSora commented on #449
Good day @danylo-holovenko

It seems like this is a limitation of version 1. I've tried it with an early build of `v2` and it works there...
I'm working hard on releasing `v2` mid to end of the month.. I cant offer you any solution besides waiting or using the `width: 50%` style.

[2022-07-10 10:58] danylo-holovenko commented on #449
@KingSora thank you for your reply! Will be waiting for v2

[2022-07-12 12:57] FontEndArt opened #450 "I want to add "offset" to 「getState」"
**Is your feature request related to a problem? Please describe.**
Gets the offset of the current Scrollbars. I can only get the viewport DOM by getElement, then I got scrollLeft or scrollTop in the dom.

**Describe the solution you'd like**
I hope add like offset .. key to getState() result.

**Describe alternatives you've considered**
No. Because I can through getElement got it, but It's not wha

[2022-07-12 15:27] KingSora commented on #450
Good day @FontEndArt

I am not sure whether I'm understanding you correctly.. do you mind sharing a code example to break through the language barrier? :)

[2022-07-13 02:16] FontEndArt commented on #450
Yes, I can.

But I might be a little later. Please wait some time.. thanks

[2022-07-13 10:30] KoenPaas opened #451 "flex-direction: column-reverse not working as expected"
The scrollbar position should go to to the bottom just as the default browser behavior when using column-reverse.

What I've treid so far is add this class to the scrollbar component:
`<OverlayScrollbars :options="{ className: 'orderbook-asks' }" class="os-host-flexbox">`

the class:
[code]

Or is there a better way of implementing this reverse behavior for this package?

Thanks

[2022-07-16 07:34] KingSora commented on #150
After working almost non-stop on the plugin for the past month, I am happy to announce that I'm confident to share a at least a beta release at the end of the month.

[2022-07-17 21:14] KingSora commented on #450
Ahhh I guess you can use `instance.scroll()` for this. https://kingsora.github.io/OverlayScrollbars/#!documentation/method-scroll

[2022-07-18 02:01] FontEndArt commented on #450
Oh, I really didn't find it. I think... May be for two reasons.
The one is no drop obvious example in there.

[2022-07-18 02:03] FontEndArt commented on #450
Thanks for you!

[2022-07-18 02:03] #450 closed

[2022-07-18 11:37] KingSora commented on #450
I'll try to document it better for version 2 :)

[2022-07-19 17:05] kinless opened #452 "Resize observer elements detected as non-composited animations (CLS check)"
@KingSora first I want to compliment you on such a fantastic plug-in, it's been invaluable to several projects! I look forward to v2.0

**Description**
This is such a nit-picky bug it's probably not even worth mentioning, but as I know some devs love maximum optimization, thought I'd report it here. There might be a super-simple way to fix, I'm just not versed enough in this space to be messing wi

[2022-07-20 09:16] KingSora commented on #452
Fixed in version 1.13.3: https://github.com/KingSora/OverlayScrollbars/releases/tag/v1.13.3

[2022-07-20 09:16] #452 closed

[2022-07-20 17:13] kinless commented on #452
@KingSora thanks for hopping on this so quickly!

Unfortunately it looks like "cursor" is also an invalid animation method according to the checker. I can't possibly see how that would contribute to any layout shifting, but it's still being detected as unsupported.

![os-non-composited-cursor](https://user-images.githubusercontent.com/5661056/180036567-602b84da-acd7-47f7-b9b6-965b5ab4fe66.png)

Bu

[2022-07-21 09:12] KingSora commented on #452
Oh, thats unfortunate.. I reasoned about the `cursor` property with the help of https://csstriggers.com/ where it has better stats than the `transform` or `opacity` properties...

If its fine for you, I'll leave it like this, because this is 100% a false positive in this case.

[2022-07-21 09:46] tryggvigy commented on #150
That's awesome! Happy to help test it @KingSora

[2022-07-21 10:28] KingSora commented on #150
@tryggvigy thanks a lot! I'm really looking forward to your feedback :)

[2022-07-24 17:30] brc-dd opened #453 "Doesn't seem to override native overlay scrollbars"
Firefox, Chrome and Edge (experimental) have now natively overlaid scrollbars. This plugin doesn't seems to override them. Here are some screenshots of the official website:

Chrome with default settings (expected):

![image](https://user-images.githubusercontent.com/40380293/180659613-876ecef4-cb34-465b-ab82-00b4811560e8.png) ![image](https://user-images.githubusercontent.com/40380293/180659622-f

[2022-07-24 20:59] KingSora commented on #453
Good day @brc-dd
It should do that - Can you please post the output of `OverlayScrollbars.globals()` here and a snipped of how you initialize the plugin? One of the browsers should be enough.

[2022-07-24 21:04] brc-dd commented on #453
Hi! I'm testing this on your website (https://kingsora.github.io/OverlayScrollbars/#!overview), and this is the output of `OverlayScrollbars.globals()`:

[code]

[2022-07-24 21:15] KingSora commented on #453
@brc-dd ah, testing on the documentation page body element is a bad example, because it won't initialize on the body if the native scrollbar are overlaid. It should still be working on the various demos I've put on the page.

[2022-07-24 21:23] brc-dd commented on #453
Ah, okay! I didn't checked that part. Thanks for the clarification. Yes it works fine in the demos!

[2022-07-24 21:23] #453 closed

[2022-07-25 10:08] FontEndArt commented on #149
我也正在关注这方面的问题，并且正在尝试。但似乎agGrid的virtualList导致我并不能直接使用OverlayScrollbars进行覆盖。

我正在试图寻找一个办法，将OverlayScrollbars的viewport替换成ag的scroll容器，目的是为了保证agGrid自身的onScroll event。

------

Next is google translate：

I'm looking into this too and am trying. But it seems that the virtualList of agGrid makes me unable to directly use OverlayScrollbars to overlay.

I am trying to find a way to replace the viewport of Ov

[2022-07-25 10:28] KingSora commented on #149
@FontEndArt this should be possible with `v2`. I'll try to launch a beta at the end of the month

[2022-07-25 17:44] kinless commented on #452
@KingSora no worries. Like I first mentioned, this is such a trivial issue. I don't know who had the authority to decide that only `translate` and `opacity` get a pass while everything else is automatically flagged as unsupported. https://csstriggers.com says that translate generally doesn't trigger geometry or paint so I'm OK with leaving the default animation listener overridden with `translateZ

[2022-08-02 14:38] ankha0109 commented on #441
@Rusl10 Hi, how did you resolve this issue?

[2022-08-03 07:47] KingSora commented on #321
@Eric24 I'm implementing this change for `v2` which will release soon :)

[2022-08-03 11:59] KingSora commented on #150
@AgentSmith0 its already usable but not released yet, because I'm still writing the `README.md` for the most basic documentation. I'll announce it soon

[2022-08-03 14:02] Eric24 commented on #321
@KingSora - Excellent! I'm glad to hear it. I look forward to testing it out.

[2022-08-08 12:50] KingSora commented on #150
I've published [`v2.0.0-beta.0`](https://www.npmjs.com/package/overlayscrollbars/v/2.0.0-beta.0). There is a basic `README.md` but its not a complete documentation. In case you have questions please don't hesitate to ask!

Its almost feature complete, in case you discover something which doesn't seem to be supported but you think its crucial for the plugin, please also don't hesitate to write it h

[2022-08-08 14:50] KingSora commented on #150
@AgentSmith0 nope.. I've noted it for the next beta (should be easy to implement)

[2022-08-08 18:05] KingSora commented on #357
@AgentSmith0 can you please provide a minimal usecase on `jsfiddle` or a similar service? I would again take a look on it

[2022-08-08 18:40] KingSora commented on #357
@AgentSmith0 should be fixed: https://7gr2xq.csb.app/

[2022-08-11 11:08] tryggvigy commented on #150
@KingSora the link to the readme seems to be broken. Would love to read up on the summary of changes in the beta

[2022-08-11 11:23] KingSora commented on #150
@tryggvigy I merged the `v2` branch into master, so you can read it here: https://github.com/KingSora/OverlayScrollbars

[2022-08-12 11:20] aaronstezycki commented on #150
Hi @KingSora,

I'm currently looking for a custom scrollbar library just like this, however my caveat is I'm looking for a scrollbar that allows overflow-x: visible on the scrollable content (image below for clarity). I don't think this was possible on v1 of your library. Is this possible with v2?

![scroller](https://user-images.githubusercontent.com/5744600/184343262-a2807034-7093-4b47-a4ff-f796

[2022-08-12 11:25] doutatsu commented on #150
@aaronstezycki It is possible - I am using it in this way myself

[2022-08-12 11:58] KingSora commented on #150
@aaronstezycki this should be possible with `v1` and `v2`. Please open a separate issue / discussion with things you tried out or wanna achieve if you need more info :)

[2022-08-13 10:54] KingSora commented on #150
@AgentSmith0 no, and I'll only make it an "opt-in" plugin, so its treesgakeable.

I've Published [`v2.0.0-beta.1`](https://www.npmjs.com/package/overlayscrollbars/v/2.0.0-beta.1) where I implemented / fixed #128, #322 and #357

[2022-08-14 20:09] KingSora commented on #362
@xeoneux good news, `v2` is now in beta and the size was reduced significantly. Even without treeshaking its 50% smaller than `v1`. You can see a comparison here: https://bundlephobia.com/package/overlayscrollbars keep in mind that depending on what you import the size is even lower

[2022-08-16 13:24] xeoneux commented on #362
That's so amazing @KingSora! Thanks a lot, I'm going to update the lib to try out the beta this week 🚀

[2022-08-16 13:24] #362 closed

[2022-08-24 08:26] theo-staizen opened #456 "JSDOM + getComputedStyle"
**Describe the bug**

A call to window.getComputedStyle branch breaks when using JSDOM.

https://github.com/KingSora/OverlayScrollbars/blob/6f40de9291e09819d339bef1599b4e3648dfa8c3/packages/overlayscrollbars/src/environment.ts#L82

(also at https://github.com/KingSora/OverlayScrollbars/blob/v1.x/js/OverlayScrollbars.js#L1779 for v1 branch)

According to jsdom, this error is thrown on purpose and t

[2022-08-24 08:59] KingSora commented on #456
Good day @theo-staizen and thanks for reaching out..

The problem here is really that I need the second parameter and without it the function wouldn't do what it should. I fixed it for my jest setup like this: https://github.com/KingSora/OverlayScrollbars/blob/master/local/config/src/jest.setup.js I hope thats an acceptable solution for you

[2022-08-24 09:02] theo-staizen commented on #456
Yeah, we ended up doing something similar on our side as well...
Oh well, it was worth a try. Maybe this issue will help someone else who runs into it.
Thx @KingSora and have a nice day

[2022-08-24 09:02] #456 closed

[2022-08-30 00:57] adrianvincent91 opened #457 "Uncaught TypeError: Cannot read properties of undefined (reading 'ownerDocument')"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Environment**

Using webpack 5 to output my js

[2022-08-30 08:01] Charles-XD opened #458 "Scrollbar thumb size"
I used OverlayScrollbarsCompoent with react-window. The problem is the size of the scrollbar thumb is not accurate when the list layout is horizontal.

expected:
![image](https://user-images.githubusercontent.com/85753603/187382187-6fe1e43e-4ade-49ad-bae9-4e003e2e583c.png)
![image](https://user-images.githubusercontent.com/85753603/187382330-40ca46c5-527d-4944-b0ed-2e1e945152be.png)

current behav

[2022-08-30 11:36] KingSora commented on #457
Good day @adrianvincent91 :)
You are using 'document.querySelectorAll` which gives you an collection of elements. Since version 2 OverlayScrollbars only supports a single element.
Instead use the `forEach` function to iterate over the element array and initialize OverlayScrollbars individually

[2022-08-30 11:39] KingSora commented on #458
Good day @Charles-XD
Which OverlayScrollbars version are you using? Could you also please post a minimal example on jsfiddle / codesandbox / stackblitz or a similar website? This would help me to identify the issue

[2022-08-30 13:02] adrianvincent91 commented on #457
Thanks, I was reading the wrong documentation version.

On a slightly related note, .scroll() seems to have been removed in version 2. Is this intentional?

[2022-08-30 15:03] KingSora commented on #457
V2 is currently in beta, and I'm planning to bring the function back, just as an opt-in plugin.. in this way users who arent using it wont have it in their bundle

[2022-08-30 15:22] #457 closed

[2022-08-30 16:39] andron13 commented on #445
Hi. Were you able to solve the smooth scrolling issue?

[2022-08-30 16:53] KingSora commented on #445
@plashenkov @andron13 I'll add the `scroll` function as an instance function and also as an static function in version2. I plan on releasing it end of september

[2022-08-30 16:54] plashenkov commented on #445
Hi, @andron13! Yes, with the help of additional `scroll-smooth` package. But it would nice `OverlayScrollbars` had this.

[2022-08-30 16:54] plashenkov commented on #445
@KingSora Great!

[2022-08-30 16:56] plashenkov commented on #445
@KingSora Could you consider adding horizontal smooth scroll as well? Even `scroll-smooth` cannot do that, AFAIK.

[2022-08-31 04:28] Charles-XD commented on #458
Hi @KingSora
I created a demo [https://stackblitz.com/edit/react-ts-xqojzk?file=App.tsx](https://stackblitz.com/edit/react-ts-xqojzk?file=App.tsx)

I used overlayscrollbars-react v.0.3.0 with overlayscrollbars v.1.13.3 (which installed as a dependency)

Also the component wrapper links are broken [https://kingsora.github.io/OverlayScrollbars/#!overview](https://kingsora.github.io/OverlayScrollbars

[2022-09-08 18:21] andreuka commented on #451
Did you find the solution? It seems like the library is not suitable for this

[2022-09-08 19:03] KingSora commented on #451
@andreuka I havent looked into this yet, since I'm focusing on version 2.x, which should definitely fix this issue

[2022-09-08 19:20] andreuka commented on #451
Didnt notice you have 2.0 beta already, will try to test it now :)

[2022-09-09 06:00] andreuka commented on #451
Tested with 2.0-beta1 and still not possible to get that reverse behaviour like is possible with CSS provided by the topic starter.

[2022-09-09 07:06] KingSora commented on #451
@andreuka please provide a minimal example on jsfiddle / stackblitz or codesandbox so I can have a deeper look into it :)

[2022-09-11 15:45] karl-police opened #459 "CTRL + F Highlights"
These things
![image](https://user-images.githubusercontent.com/12023782/189536296-d68924c7-ecb1-40f2-b6e4-ed72318568a0.png)

which are present on Google Chrome as example, when you use CTRL + F to highlight where results were found. Unfortunately the JavaScript version doesn't have it because it is something entirely different

Google Chrome does have an overlay scrollbar flag, but it's not in JS

[2022-09-14 11:27] KingSora commented on #150
[`v2.0.0-beta.2`](https://www.npmjs.com/package/overlayscrollbars/v/2.0.0-beta.2) has been published with improvements to the MutationObserver (addressed possible memory leaks etc.), added [Plugins documentation](https://github.com/KingSora/OverlayScrollbars#plugins) and many more minor improvements.. Depending on the feedback I think `v2.0.0-beta.3` will be the last beta before release. @tryggvig

[2022-09-14 13:04] KingSora commented on #459
Good day @karl-police

I'm afraid there is no way I could add this easily.. This is a limitation of all scrollbar plugins since this feature relies on the native browser scrollbar.

[2022-09-14 16:11] tryggvigy commented on #150
Great! I have PR upgrading to the beta version in our repo but haven't had time to finish it yet! I'll try to do that soon and report any issues if I find any :)

[2022-09-15 10:42] karl-police commented on #459
Yeah I thought so. I mean maybe if a CTRL + F window gets recoded and then add that what Google Chrome would be doing. Drawing those rectangles would be questionable though, like with fixed positions or something idk.

I hope CSSWG-Drafts will give scrollbar-gutter the ability to overlay over the page. But I don't think it's going to happen any soon.

[2022-09-27 12:45] geoffrey45 opened #463 "Docs: Broken links in the `Component Wrapper` section of the homepage"
The framework components links in the ` Component Wrapper ` section of the homepage are broken.

[2022-10-10 08:14] andron13 commented on #445
Hi, could i ask? have you done?

[2022-10-13 12:45] KingSora commented on #463
Thanks! Should be fixed :)

[2022-10-13 12:45] #463 closed

[2022-10-16 22:28] agusterodin commented on #273
I see that 2.x is in beta. Do you know if 2.x supports scroll position restoration?

[2022-10-17 10:15] KingSora commented on #273
@agusterodin Yes it should.. I'll release v2. probably at the end of the month, but feel free to test it until then :)

[2022-10-21 10:21] MorevM opened #465 "SSR / ESM issue"
**Describe the bug**
Can't be used (v2 at least) on the server.
Can't be imported from Node with `type: "module"` declared in `package.json`

**To reproduce server error**
1. Go to [reproduction link on stackblitz](https://stackblitz.com/edit/node-ert9gw?file=index.js)
2. Run `node index.js` in the integrated terminal
3. See a Reference Error. There are some errors related to usage of `Element`, `

[2022-10-21 10:47] KingSora commented on #465
@MorevM Good day!

I know.. this is something I just fixed and [added tests for](https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/test/jest-node/server.test.ts) but its not released yet.. I'm planning on releasing the last beta version soon.

[2022-10-22 10:26] KingSora commented on #465
Published version [2.0.0-beta.3](https://www.npmjs.com/package/overlayscrollbars/v/2.0.0-beta.3) where both of the issues should be fixed :)

[2022-10-22 10:28] KingSora commented on #150
published the last beta version [2.0.0-beta.3](https://www.npmjs.com/package/overlayscrollbars/v/2.0.0-beta.3) where I fixed `SSR`, `SSG` and `ISR` use, and added [flicker bridging](https://github.com/KingSora/OverlayScrollbars#bridging-initialization-flickering) and improved the documentation substentially.

[2022-10-22 10:39] MorevM commented on #465
@KingSora I can confirm it's fixed in beta.3, so I close this.
Thank you for your work :)

[2022-10-22 10:39] #465 closed

[2022-10-22 23:12] AyoubOue opened #466 "Normal update isn't fired when vertical scrollbar height changes"
**Describe the bug**
The title describes it all, for styling purposes I dynamically change the vertical scrollbar height, the problem is, unlike what is mentioned in your website "Usually (99.9%) a normal update should be enough, but ideally you will call this method only to reset the sleep behavior and never to update it manually." the normal update wasn't enough to keep the handle synchronized w

[2022-10-24 12:32] KingSora commented on #466
Good day @AyoubOue

The `update` function was implemented to primarily to update the state of the wrapper elements like `viewport` and `padding` and isn't really there to only update the scrollbars in isolation because they should only change if one of the wrappers change.

What you are doing in your code seems kinda stragne, do you wanna share a bit more information of what you are trying to achi

[2022-10-24 14:08] MorevM opened #467 "`z-index` of scrollbars"
**Describe the bug**
Scrollbar has `z-index: 99999` by default, it may affect other app elements.

**To Reproduce**
1. Go to https://typescript-gzypfp.stackblitz.io
2. Scroll down a bit
3. See how the scrollbar overlaps the sticky header

**Expected behavior**
No overlapping.

**Additional context**
I guess you can even safely remove the `z-index` from `.os-scrollbar` at all, since there are no ot

[2022-10-24 16:41] AyoubOue commented on #466
Thank you so much for your reply @KingSora

As shown in the example, I want the scrollbar to stop before the footer and not overlap it, without actually stop scrolling... achieving that is why I dynamically change its height (I couldn't think of any other possible way to achieve it). The problem is that the handle keeps space between it and the bottom of the scrollbar cuz it doesn't automatically

[2022-10-24 19:04] KingSora commented on #466
If you are using any package manager like npm or yarn, use `2.0.0.beta.3` as the version. If you are downloading it manually you can use https://www.jsdelivr.com to find the latest versions

[2022-10-25 06:29] WilsonXinxin opened #468 "Vue3 + Vite use Can't work"
**Describe the bug**
Use

Tip
![image](https://user-images.githubusercontent.com/43174390/197698815-a281e137-a893-4041-968c-a05d8f4365d9.png)

**Packages**
![image](https://user-images.githubusercontent.com/43174390/197698999-c925a557-8f6e-47d0-b7f6-ce2af05e870d.png)

[2022-10-25 06:40] KingSora commented on #468
Good day! OverlayScrollbars `v2` is currently not compatible with any of the framework wrappers. I'm working towards a release at the end of the month.

[2022-10-25 07:06] KingSora commented on #467
Good day @MorevM

I guess you're right - I'll remove the z-index but only if the target element is not the `body`. For now you can fix this by apllying `z-index: 0` to the host / target element.

[2022-10-25 11:42] tryggvigy commented on #150
I'm sorry I havent gotten around to giving feedback. I made a PR a couple of weeks ago upgrading to v2 in our project. Ran into some problems with custom styling which are probably solvable on my end. I hope I get some time to take a closer look and write a response here in a reasonable amount of time. Life's busy these days :)

[2022-10-25 16:19] #448 closed, assigned to nobody

[2022-10-25 19:18] KingSora commented on #150
@tryggvigy Take your time :)

[2022-10-26 09:01] AyoubOue commented on #466
Hi @KingSora

Sorry for replying late, I had some personal problems, and sorry for taking that much from your time as well,

I have downloaded the v2 beta but the scrollbar doesn't seem to work at all, I tested in a simple html file with the code below :

`<head>`

`<link rel="stylesheet" href="overlayscrollbars-2.0.0-beta.3/package/styles/overlayscrollbars.min.css">`

`<script src="overlayscrollb

[2022-10-26 09:57] KingSora commented on #466
@AyoubOue please also create an example on jsfiddle for that.. I'll take a look as soon as I have time

[2022-10-28 19:06] MorevM opened #469 "Correct markup to use with frontend frameworks?"
Hello again :)

I'm trying to get it work (v2.0.0-beta.3) with [Nuxt](https://nuxtjs.org/) currently (on top of Vue 2).

[Stackblitz link illustrating the problem](https://stackblitz.com/edit/typescript-ehuktv?file=index.html)
If the right part of a link above with demo doesn't load (I experience this for some reason O_o), here is [direct link to demo which works fine](https://typescript-ehuktv.st

[2022-10-28 20:11] KingSora commented on #469
@MorevM good day :)

Currently I'm in the middle of making each of the framework wrappers for `react`, `vue`, `angular` and `svelte`.. The [react](https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars-react/src/OverlayScrollbarsComponent.tsx) one is the most advanced and I consider it pretty much finished. As you can see the markup is really just one element.

Can yo

[2022-10-28 20:26] KingSora commented on #469
Here is an basic example with the starter nuxt project I found on StackBlitz: https://stackblitz.com/edit/nuxt-starter-r3ztby?file=pages%2Findex.vue and it seems to work pretty good.

[2022-10-28 21:18] MorevM commented on #469
@KingSora

Well, maybe I was too hasty about "all frameworks" :)
I really surprised it works in Vue 3! Seems pretty fine, agreed with your previous comment.

I was thinking it's not suitable because the plugin manipulates with DOM of the component directly, but framework can't track these chages - so if content is updating from outside - it just breaks.

Vue3 (works fine and I surprised about):
[P

[2022-10-30 22:28] KingSora commented on #469
@MorevM Indeed, I remember this problem... I believe `angular` has / had a similar behavior..
For that you can initialize OverlayScrollbars with an complete initialization object like:

[code]
I made an example for you here: https://codesandbox.io/s/vue-2-playground-forked-rgku0z?file=/src/components/overlay-scrollbars.vue

The only negative here is that you are setting `content: false` which make

[2022-11-01 13:54] KingSora commented on #469
@MorevM is that working out for you? :)

[2022-11-01 18:55] fjpedrosa opened #470 "Webpack throw an error on OverlayScrollbars.css (Unknown word)"
**Describe the bug**
I am trying to use the 'overlayscrollbars/css/OverlayScrollbars.css' in my project, but when webpack is compiling it throw this error:

[code]

**To Reproduce**
Add the following line to the app.js file:
import 'overlayscrollbars/css/OverlayScrollbars.css'

[2022-11-01 20:51] fjpedrosa commented on #470
Simply removing scss rules from webpack I could fix it.

[2022-11-07 04:13] luatdolphin commented on #150
Do you have any plan to support solidjs component? I'm really looking forward to this

[2022-11-07 06:59] KingSora commented on #150
@luatdolphin yes, I am.. but first I'll finish react, vue, angular and svelte

[2022-11-11 02:10] kobe651jp opened #474 "overlayscrollbars-react getting error"
When use overlayscrollbars-react get errors as follows.

In overlayscrollbars-react

Isn't
`import OverlayScrollbars from "overlayscrollbars";
`
 wrong and
`import {OverlayScrollbars} from "overlayscrollbars";
`
correct?

[code]

[2022-11-12 01:35] dml0031 opened #475 "NPM Version not updated"
See from commits the package for overlayscrollbars-react has been updated to 0.4.0 but that version is not on NPM yet

[2022-11-12 11:52] KingSora commented on #475
@dml0031 Good day :)

Today is the release day of `v2` which also includes the release of the new framework wrappers

[2022-11-12 11:52] #475 closed

[2022-11-12 11:53] KingSora commented on #474
@kobe651jp `v2` is now released, please update everything to the latest version(s) :)

[2022-11-12 11:53] #474 closed

[2022-11-12 11:54] KingSora commented on #469
@MorevM I've released `v2` today. There should also be the `vue` wrapper with the corresponding initialization code and markup. :)

[2022-11-12 11:54] #469 closed

[2022-11-12 11:55] KingSora commented on #468
@WilsonXinxin `v2` is now released with the `0.4.0` version of `overlayscrolbars-vue` which should work :)

[2022-11-12 11:55] #468 closed

[2022-11-12 11:55] KingSora commented on #467
This is now in `v2` which released today

[2022-11-12 11:55] #467 closed

[2022-11-12 11:56] KingSora commented on #449
@danylo-holovenko `v2` released today, please update `overlayscrollbars` and `overlayscrollbars-react` to the latest version :)

[2022-11-12 11:56] #449 closed

[2022-11-12 11:58] kobe651jp commented on #474
@KingSora
I Checked new release. I will try it soon.
Thank you.

[2022-11-12 11:58] KingSora commented on #442
`v2` of `overlayscrollbars` released today. Please update every `overlayscrollbars` dependency to the latest version. In the new version of `overlayscrollbars-ngx` the component selector changed and I've also added a directive. [README](https://github.com/KingSora/OverlayScrollbars/tree/master/packages/overlayscrollbars-ngx)

[2022-11-12 11:58] #442 closed

[2022-11-12 11:59] KingSora commented on #430
`v2` of `overlayscrollbars` was released today and with it a new version of `overlayscrollbars-vue` which emits events: [README](https://github.com/KingSora/OverlayScrollbars/tree/master/packages/overlayscrollbars-vue)

[2022-11-12 11:59] #430 closed

[2022-11-12 12:00] KingSora commented on #425
This should be fixed in `v2` which released today. Please update to the latest version :)

[2022-11-12 12:00] #425 closed

[2022-11-12 12:01] KingSora commented on #413
This should be fixed now with the `v2` version of `overlayscrollbars` and with it the `0.4.0` version of `overlayscrollbars-ngx`

[2022-11-12 12:01] #413 closed

[2022-11-12 12:02] KingSora commented on #404
This should be fixed now with `v2` of `overlayscrollbars` where the scrollbars can be cloned and / or moved into different dom elements. You have complete freedom over them now.

[2022-11-12 12:02] #404 closed

[2022-11-12 12:02] #397 closed

[2022-11-12 12:03] KingSora commented on #376
`v2` released today where this issue should be fixed :)

[2022-11-12 12:03] #376 closed

[2022-11-12 12:03] KingSora commented on #322
This should be fixed in `v2` which released today :)

[2022-11-12 12:03] #322 closed

[2022-11-12 12:03] KingSora commented on #321
This should be fixed in `v2` which released today :)

[2022-11-12 12:03] #321 closed

[2022-11-12 12:05] KingSora commented on #311
Today I released `overlayscrollbars` `v2` which includes the new package [`overlayscrollbars-svelte`](https://www.npmjs.com/package/overlayscrollbars-svelte) :)

[2022-11-12 12:05] #311 closed

[2022-11-12 12:06] KingSora commented on #298
`v2` released today which doesn't include this class at all anymore.

[2022-11-12 12:06] #298 closed

[2022-11-12 12:06] KingSora commented on #293
`overlayscrollbars` `v2` released today and with it a new version of `overlayscrollbars-vue` where this issue should be fixed

[2022-11-12 12:06] #293 closed

[2022-11-12 12:07] KingSora commented on #203
This should be fixed with `overlayscrollbars` `v2` and the new version of `overlayscrollbars-ngx` `v0.4.0`

[2022-11-12 12:07] #203 closed

[2022-11-12 12:09] KingSora commented on #167
`v2` released today where the initialization to `textarea` is not implemented yet. With its released `overlayscrollbars-ngx` where the initialization to `textarea` will be possible once its implemented in `v2` thus I'll close the issue for now

[2022-11-12 12:09] #167 closed

[2022-11-12 12:09] KingSora commented on #128
This should be fixed in `v2` which released today :)

[2022-11-12 12:09] #128 closed

[2022-11-12 12:10] KingSora commented on #61
This should be (hopefully) fixed in `v2` which released today :)

[2022-11-12 12:10] #61 closed

[2022-11-12 12:12] KingSora commented on #150
`v2` released today and with it new versions of the framework wrappers. I've also added a `svelte` and `solid` wrapper. The changelogs can be read here:

Read the details about this release in the corresponding changelogs:

- [overlayscrollbars](https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/CHANGELOG.md)
- [overlayscrollbars-react](https://github.com/KingSora

[2022-11-12 12:13] KingSora commented on #220
This should be hopefully fixed with `v2` and with it the newest version of `overlayscrollbars-vue` (`v0.4.0`)

[2022-11-12 12:13] #220 closed

[2022-11-12 12:14] KingSora commented on #257
This should be fixed with `v2` which comes with a new version of `overlayscrollbars-ngx` where the events work differently :)

[2022-11-12 12:14] #257 closed

[2022-11-12 12:15] KingSora commented on #273
`v2` released today where this issue should be fixed :)

[2022-11-12 12:15] #273 closed

[2022-11-12 12:15] KingSora commented on #320
`v2` released today where this issue should be fixed :)

[2022-11-12 12:15] #320 closed

[2022-11-12 13:14] KingSora commented on #278
`v2` is released now with an update to `overlayscrollbars-ngx` where I added a directive. The component also has an additional selector so you can choose which tag tag you want. [README](https://github.com/KingSora/OverlayScrollbars/tree/master/packages/overlayscrollbars-ngx)

[2022-11-12 13:14] #278 closed

[2022-11-12 13:15] KingSora commented on #307
`v2` is released now, you can try if this version also casues this issue

[2022-11-12 13:15] #307 closed

[2022-11-12 13:16] KingSora commented on #406
Please try the new `v2` version of `overlayscrollbars` and the most recent version of `overlayscrollbars-react`. This should be fixed there

[2022-11-12 13:16] #406 closed

[2022-11-12 13:18] KingSora commented on #312
`v2` released today where this issue is hopefully fixed.

[2022-11-12 13:18] #312 closed

[2022-11-12 13:19] KingSora commented on #284
`v2` released today which should fix this issue :)

[2022-11-12 13:19] #284 closed

[2022-11-12 13:19] KingSora commented on #304
`v2` released today where this issue should be fixed :)

[2022-11-12 13:19] #304 closed

[2022-11-12 13:20] #380 closed

[2022-11-12 13:21] KingSora commented on #249
`v2` released today which hopefully improves on this behavior :)

[2022-11-12 13:21] #249 closed

[2022-11-12 13:22] KingSora commented on #157
`v2` released today which should also improve on this behavior :)

[2022-11-12 13:22] #157 closed

[2022-11-12 13:23] KingSora commented on #418
Good day @wargniy

`v2` released today which should fix this issue. Please also update `overlayscrollbars-react` to the latest version

[2022-11-12 13:23] #418 closed

[2022-11-12 13:24] KingSora commented on #285
Can you please try `v2` and confirm whether this issue still persists? :)

[2022-11-12 13:32] KingSora commented on #466
`v2` released today, please update your `overlayscrollbars` dependencies to the latest version
I'll close this issue for now as for me everything seems to be working.. in case you still have the issue described in your last post, please open a separate issue.

[2022-11-12 13:32] #466 closed

[2022-11-12 13:33] KingSora commented on #439
This seems to be a browser bug though and there is nothing I can do since the library relies on this styles.. You can try to open an issue on Mozillas side.

Your workaround also seems valid as long as it is not causing any issues for you though :)

[2022-11-12 13:33] #439 closed

[2022-11-12 13:35] #90 closed

[2022-11-12 13:36] KingSora commented on #403
Please try `v2` and report back whether the issue still persists :)

[2022-11-12 13:43] #403 closed

[2022-11-12 13:43] #401 closed

[2022-11-12 13:44] KingSora commented on #436
Good day @kulism

`v2` released today where thos issue should be fixed :)

[2022-11-12 13:44] #436 closed

[2022-11-12 14:18] KiddoV commented on #307
Nice. Thank you!

[2022-11-12 18:06] agusterodin commented on #273
Worked perfectly! Because of your improvements I was able to remove lines like this from my links:

`overlayScrollbar !== undefined ? overlayScrollbar.scroll({ x: 0, y: 0 }) : window.scrollTo(0, 0)`

^ this type of thing led to janky jittering when the scroll position changed, even when OverlayScrollbars was completely disabled and uninitialized.

This allows Next/Link (in Next.js) to do it's thin

[2022-11-12 23:13] KingSora commented on #273
Happy to hear that! :)

[2022-11-12 23:41] KingSora commented on #323
@saeed410 this feature was added in `v2` :)

[2022-11-14 02:18] patxbert commented on #278
Hi @KingSora, that's good too hear.

Just confirming, it looks like the directive doesn't instantiate itself, but needs a parent to? The makes it harder to use the directive, since you must know how to call the `osInitialize` function yourself.

[2022-11-14 08:34] KingSora commented on #278
@patxbert exactly. That gives you complete freedom about the initialization process, which is the primary reason I've added the directive.

You can now also use the component like:
[code]
To get the semantics you probably expected from the directive.

[2022-11-16 23:50] stepanjakl opened #477 "Scrollbar breaks when overflow property is applied to <html> tag"
Firstly, congrats on releasing v.2 @KingSora, a great library!!

**Describe the bug**

I have a modal component on a site and when it is open the `<html>` tag is set `overflow: hidden` property in order to disable scrolling. However, after implementing your library, when overflow gets applied the whole page automatically scrolls to the top and the scrollbar stops working.

**To Reproduce**

You ca

[2022-11-17 08:13] KingSora commented on #477
Good day @stepanjakl :)

I see... this comes from the fact that the browsers `viewport` is the `html` element. If it has no overflow, the page isn't scrolled, thats why the scrollbar isn't moving. What you scroll in this case is only the `body` element, which then counts as a separate container. You can verify this by trying to do `window.scrollTo(100, 100)` while the `html` element has the `overf

[2022-11-17 09:43] stepanjakl commented on #477
Hello @KingSora,

Thank you for the answer and detailed explanation. I definitely understand what's going on. I am using Alpine.js and its Focus plugin with `.noscroll` [modifier](https://alpinejs.dev/plugins/focus#noscroll), which automatically applies inline `overflow: hidden` property to the `<html>` tag when activated. So unfortunately, I don't have control over the styling.

When the OverlayS

[2022-11-17 13:47] stepanjakl commented on #477
@KingSora That was quick and it's working well now! Thanks a lot :)

[2022-11-17 13:47] #477 closed

[2022-11-17 13:53] KingSora commented on #477
Jsem rád, že to funguje :)

[2022-11-17 15:43] stepanjakl commented on #477
Hahah, já také.

[2022-11-18 11:09] renatodeleao opened #478 "use css scrollbars for theming"
**problem**
Overriding styles requires manual investigation of how your CSS specificity is done for the several interactive scenarios. So the current was is inspect source, copying the selector and doing the override.

https://github.com/KingSora/OverlayScrollbars/blob/309ddd7a90685948a5b21658f0a40ea9869b5516/packages/overlayscrollbars/src/styles/scrollbars.scss#L139-L141

**solution**
Using CSS v

[2022-11-18 11:42] KingSora commented on #478
Good day @renatodeleao

I've considered this and I'm already working with custom css properties in the code ([here](https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/styles/structure.scss#L137-L138) and [here](https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/plugins/scrollbarsHidingPlugin/scrollbarsHidingPlugin.ts#L170-

[2022-11-18 12:20] renatodeleao commented on #478
Good day! Good to know that it is on the radar!

Uhhh unusual these days 😛 If I remember that correctly, declaring the hardcoded `prop: value` pair as a fallback before the one with the `var` would still work in IE because it would ignore the latter as an "invalid property declaration" while supporting browsers would just is as normal.

[code]

There's a couple of `postCSS` plugins that handle it

[2022-11-21 01:08] kobe651jp opened #479 "osInstance.scroll is not a function"
I'm trying to handle scroll to top/bottom.But getting error as follows.

TypeError
osInstance.scroll is not a function

My OverlayWrapper as follows
[code]

my usage
[code]

in my console showing
![image](https://user-images.githubusercontent.com/44263972/202937679-31926340-30dd-40f7-ae5d-a0c0881c6f1c.png)

I thing get osInstance working fine.but scroll is not function!
Is my usage wrong?

[2022-11-21 09:35] KingSora commented on #479
Good day @kobe651jp

The `scroll` function is not implemented in `v2` yet.. You can use the browser native scroll functionality like:
[code]

[2022-11-21 10:19] #479 closed

[2022-11-21 12:24] Magiczne opened #480 "Cannot import CSS - missing export in `package.json`"
**Describe the bug**
When trying to import css file into the build:
[code]

**To Reproduce**
Create simple webpack-driven build, add
[code]

to SCSS file, or

[code]

to JS/TS file

**Expected behavior**
Working imports

[2022-11-21 13:11] KingSora commented on #480
Good day @Magiczne

I'm not exposing the `.min.css` file from the package.. is there a reason you want to import it and not the normal version?

[2022-11-21 13:14] Magiczne commented on #480
For some reason the default version was not working. I'll look again into that, and go back to you.

But using already minified version could be useful for some environments which are ran without minifying step.

[2022-11-23 20:22] KingSora commented on #480
@Magiczne anything new here? :)

[2022-11-23 20:22] KingSora commented on #478
@renatodeleao that looks like a nice proposal. I'll see what I can do :)

[2022-11-23 20:55] Magiczne commented on #480
Sorry, busy days at work, an currently sitting on version 1.x

Will try to update on this issue in coming week

[2022-11-24 17:40] KingSora commented on #150
@luatdolphin working on it... It would be better if you open separate issues in the future so I can track them properly :)

[2022-11-25 13:23] bjarkihall commented on #150
@KingSora congrats on the major update being released.
From the release notes I couldn't figure out if explicit el.scrollTop/el.scrollLeft calls would work until (and if) a scroll plugin becomes available or is it currently the recommended way of setting the scroll position from code?

[2022-11-29 08:02] ddenev opened #481 "v2.0 - scrollbars do not appear unless height is provided"
**Describe the bug**
After upgrading to 2.0 my scrollbars stopped working.

The only things I changed after the upgrade is:
- switched to the new styles import statement
- switched to the new named OverlayScrollbars import statement

And now all scrollbars that were previously working (with v1) are now not shown.
There is no error in the console and I see that all classes are properly attached to

[2022-11-29 08:27] KingSora commented on #481
Good day @ddenev
Its not documented because I can't know every usecase and thus can't predict every behavior...

The described behavior seems odd though, `v2` also works without a fixed height it also works with other strategies (e.g. with max-height).

Is it possible for you to create a minimal example on jsfiddle, codesandbox, stackblitz or as a standalone repo? I'll take a look asap then

[2022-11-29 11:07] ddenev commented on #481
Here are 2 sandboxes that show my use-case:

A) https://codesandbox.io/s/overlayscrollbars-v2-height-required-issue-ci5gxz?file=/src/App.vue - this is with v2
B) https://codesandbox.io/s/overlayscrollbars-v1-height-required-issue-u0qbcx?file=/src/App.vue - this is with v1

A and B are absolutely identical, save the CSS and the `OverlayScrollbars` import statements.

The v1 works OK.
The v2 doesn't

[2022-11-29 11:18] ddenev commented on #481
Something else - the `min-height` style on the top `div` is applied by my framework (Quasar) and is not under my control - I don't set any heights anywhere.

[2022-11-29 11:21] ddenev commented on #480
Just to mention that the proper import for v1 styles is:

`'import "overlayscrollbars/css/OverlayScrollbars.css'`

[2022-11-29 12:12] KingSora commented on #481
@ddenev I see whats going on here..

`v1` always had struggle with `flexbox` and `grid`. Thus the consumer had to add all sorts of workarounds like the `os-host-flexbox` class [(link to the `v1` docs)](https://kingsora.github.io/OverlayScrollbars/v1/#!documentation/flexbox). In `v2` this is fixed and not needed anymore.

You are using flexbox and in the `v1` example without the `os-host-flexbox` c

[2022-11-29 12:20] ddenev commented on #481
Thank you, @KingSora. I still have 2 questions:

1. In your example (https://codesandbox.io/s/overlayscrollbars-v1-height-required-issue-forked-ncnrhg?file=/src/App.vue) I can still see a scrollbar:
![image](https://user-images.githubusercontent.com/1393766/204527500-589d64aa-edda-4808-8f60-ea471befc920.png)
or is this not the scrollbar that I need?
2. Can you please guide me what do I need to do

[2022-11-29 12:30] KingSora commented on #481
@ddenev thats the scrollbar for the entire document.. you can disable this with:
[code]

The answer to your 2nd question depends when you want the scrollbars to appear... whats the desired behavior? Since in the `v1` example the behavior was due to a bug I would like to have this defined

[2022-11-30 10:26] #480 closed

[2022-11-30 10:30] Magiczne opened #482 "Errors when using ESM build of overlayscrollbars-vue"
**Describe the bug**
When building application using webpack following error shows in build window:
[code]

**Expected behavior**
Working ESM build of `overlascrollbars-vue`

[2022-11-30 11:22] KingSora commented on #482
@Magiczne can you tell me the used version of all `overlayscrollbars` packages you use?

[2022-11-30 11:30] Magiczne commented on #482
@KingSora sorry, sure

overlayscrollbars: 2.0.1
overlayscrollbars-vue: 0.5.0
webpack: 5.75.0
webpack-cli: 5.0.0

[2022-11-30 12:16] KingSora commented on #482
@Magiczne Thats interesting.. can you please wipe your `node_modules` folder and install everything again? Please also wipe any cache which webpack could use to mix up package versions.

To me it looks like you have an old version of `overlayscrollbars-vue`. Since `v0.4.0` the package has no `dist` folder. [This is how the package structure looks like since `v0.4.0`](https://www.jsdelivr.com/packa

[2022-11-30 18:18] KingSora commented on #481
@ddenev Cool, glad I could help! :)

Do you think you still need guidance or can I consider this issue as resolved?

[2022-11-30 18:27] ddenev commented on #481
Please consider this topic resolved. Thank you for your excellent assistance!

[2022-11-30 18:27] #481 closed